<div class="modal fade" id="create-goal-modal" tabindex="-1" role="dialog" aria-labelledby="create-goal-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="create-goal-modal-label">Create a new goal:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            
            <section>

                <h4 class="text-secondary">Edit goal</h4>

                <% if(!!locals.message){ %>
                    <div class="alert-message alert-message-warning" role="alert">
                        <h3 ><%= message %></h3>
                        <p><%= message2 %></p>
                    </div>
                <% } 
                
                if(goal) {
                    %>
                    <form action="/dashboard" id="goalForm" enctype="multipart/form-data" method="POST">
                        <div class="form-group">
                            <input type="hidden" name="goalId" id="goalId" value="<%- goal.id %>" />
                            <fieldset class="form-group row">
                                <legend class="col-form-legend col-sm-2">Visibility</legend>
                                <div class="col-sm-10 form-check">
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="radio-inline" name="goalVisibility" value="0" id="goalVisibilityPrivate" />
                                        <label class="form-check-label" for="inlineRadio1">Private</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="radio-inline" name="goalVisibility" value="1" id="goalVisibilityShared" />
                                        <label class="form-check-label" for="inlineRadio2">Shared</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="radio-inline" name="goalVisibility" value="2" id="goalVisibilityPublic" checked />
                                        <label class="form-check-label" for="inlineRadio3">Public</label>
                                    </div>
                                </div>
                                
                            </fieldset>

                            Version: <input type="input" class="form-control form-control-lg" name="goalVersion" value="<%- goal.goalVersion %>" id="goalVersion" placeholder="Version" disabled>
                            Name: <input type="input" class="form-control form-control-lg" name="goalName" value="<%- goal.goalName %>" id="goalName" placeholder="Name" required>
                            Desciption: <input type="input" class="form-control form-control-lg" name="goalDescription" value="<%- goal.goalDescription %>" id="goalDescription" placeholder="Description">
                            <%
                            if( goal.goalImage ) {
                                %>
                                Image: <img class="img-supersmall" src="<%= process.env.GOAL_IMAGE_WEB_PATH %><%- goal.goalImage %>" id="goalImage" />
                                <%
                            }
                            else {
                                %>
                                Image: <img class="img-supersmall" src="data:," alt="Upload an Image" id="goalImage" />
                                <%
                            }
                            %>
                            
                            <div class="mb-2">
                                <label for="formFile" class="form-label">Upload an image for this goal (1MB Max size)</label>
                                <input class="form-control btn-secondary" accept="image/jpeg,image/jpg,image/png" type="file" id="formFile" value="<%- goal.goalImage %>" name="goalImage">
                            </div>
                            Active: <input type="checkbox" class="" id="goalActive" name="goalActive" <%- (goal.active)?'checked':'' %> /><br />
                            Completable: <input type="checkbox" class="" id="goalCompletable" name="goalCompletable" <%- (goal.completable)?'checked':'' %> />
                            <br />
                            <br />
                            
                            <%- include('../../admin/partials/pathway') %>

                        </div>
                        <button type="submit" id="goalButton" class="btn btn-primary btn-lg btn-block">Save Goal</button>
                    </form>
                    <%
                }
                
                %>

            </section>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
</div>