<div class="">

    <%
    if(ownerGoals && ownerGoals.length > 0) {
        for(let i=0; i < ownerGoals.length; i++) {
            if(ownerGoals[i].active) {
                %>
                <a class="text-primary" data-toggle="modal" data-target="#create-goal-modal" onclick='updateGoalModal(<%- JSON.stringify(ownerGoals[i]).replace(/[\/\(\)\']/g, "&apos;") %>, "<%- process.env.GOAL_IMAGE_WEB_PATH %>");' ><%- ownerGoals[i].goalName %></a>
                <br />
                <%
            }
            else {
                %>
                <span style="color: red;">{Inactive}
                <a class="text-primary" data-toggle="modal" data-target="#create-goal-modal" onclick='updateGoalModal(<%- JSON.stringify(ownerGoals[i]).replace(/[\/\(\)\']/g, "&apos;") %>, "<%- process.env.GOAL_IMAGE_WEB_PATH %>");'><%- ownerGoals[i].goalName %></a></span>
                <br />
                <%
            }
        }
    }

    %>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-goal-modal" onclick='updateGoalModal(<%- JSON.stringify(goal).replace(/[\/\(\)\']/g, "&apos;") %>, "<%- process.env.GOAL_IMAGE_WEB_PATH %>");' >
        Create a Goal
    </button>

    <%- include('./edit-goal') %>
    <hr />
    
   
    

    
</div>