<i class="fas fa-2x fa-plus-circle triadic" data-toggle="modal" data-target="#create-resource-modal" onclick='updateResourceModal(<%- JSON.stringify(resource).replace(/[\/\(\)\']/g, "&apos;") %>, "<%- process.env.RESOURCE_IMAGE_WEB_PATH %>");' ></i>
<span class="font-weight-bold text-secondary title-font-size text-uppercase"> | Resources</span>
<br />


<%
if(availableResources && availableResources.length > 0) {
    for(let i=0; i < availableResources.length; i++) {
        if(availableResources[i].active) {
            %>
            <a class="text-primary" href="/a/resource/<%- availableResources[i].id %>" ><%- availableResources[i].resourceName %></a>
            <br />
            <%
        }
        else {
            %>
            <span style="color: red;">{Inactive}
            <a class="text-primary" href="/a/resource/<%- availableResources[i].id %>" ><%- availableResources[i].resourceName %></a></span>
            <br />
            <%
        }
    
    }
}

%>

<%- include( './resource/edit-resource' ) %>
