<i class="fas fa-2x fa-plus-circle triadic" data-toggle="modal" data-target="#create-resource-modal" onclick="newResourceModel();" ></i>
<span class="font-weight-bold text-secondary title-font-size text-uppercase"> | Resources</span>
<br />


<%
if(availableResources && availableResources.length > 0) {
    for(let i=0; i < availableResources.length; i++) {
        
        %>

        <a class="card" style="width: 100%;" >
            <div class="card-body-low-padding" name="enrolled_card">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                        <button class="btn tetradic3" aria-expanded="false" aria-controls="collapseOne">
                            <%
                            if(availableResources[i].resourceImage) {
                                %>
                                <img class="img-supersmall" src="<%= process.env.RESOURCE_IMAGE_WEB_PATH%><%- availableResources[i].resourceImage %>" />
                                <%
                            }
                            else {
                                %>
                                <img class="img-supersmall" src="data:," alt="" id="resourceImageEl" />
                                <%
                            }
                            %>
                            
                            <%- availableResources[i].resourceName %>
                        </button>
                        
                        </h5>
                        
                        <a class="fas fa-edit complementary" data-toggle="modal" data-target="#create-resource-modal" onclick='updateResourceModal(<%- availableResources[i].id %>, "<%- process.env.RESOURCE_IMAGE_WEB_PATH %>");' ></a>&nbsp;&nbsp; 
                        <a class="fas fa-trash redColor" onclick='deleteResource();'></a> &nbsp;&nbsp; <a class="text-primary" onclick='addFilter();'></a>
                    </div>
                
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <%- availableResources[i].resourceDescription %>
                        </div>
                    </div>
                </div>
            </div>
        </a> 


        
        <%
        if(!availableResources[i].active) {
            %>
            <span class="redColor">{Inactive}</span>
            <%
        }
        %>
            <br />
        <%
    
    }
}

%>

<%- include( './resource/edit-resource' ) %>
