<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
            <%- include('../partials/topmenu'); %>
        </nav>

        <!-- Page Content -->
        <content>
            <section class="page-section main-content mt-3 masthead-jr" id="manage-user">
                <div class="container navbar-interior font-weight-bold text-primary">
                    <%- include('../partials/welcome'); %>
                </div>
                <div class="container">
                    
                    <!-- About Section Heading-->
                    <div class="divider-custom">
                    </div>
    
                    <!-- About Section Content-->
                    <!--
                    <div class="row">
                        <div class="col-lg-4 ml-auto"><p class="lead">About the site</p></div>
                        <div class="col-lg-4 mr-auto"><p class="lead">About me</p></div>
                    </div>
                    -->
                    <!-- About Section Button-->
                    <div class="text-left mt-4">
                        <div id="story1" class="row justify-content-left">
                            <div class="col-lg-7">
                                <h2>Manage your Account</h2>
                                <% if(!user.emailValidated){ %>
                                    <div class="alert-message alert-message-warning" role="alert">
                                        <h3>Email not verified!</h3>
                                        <p>Please check your email for a verifacation link and click on it to finish the verification process.  <strong>Be sure to check your spam folder</strong> if you do not see it in your inbox. If it has not arrived after a few minutes <a href='/user/revalidate/<%- user.email %>'>Re-send verification email</a></p>
                                    </div>
                                <% } %>
                                <section>
                                    <form action="/user" method="POST">
                                        <div class="form-group">
                                            <input type="hidden" name="_method" value="PATCH" />
                                            Email: <strong><%- user.email %></strong> 
                                            <% if(user.emailValidated){ %>
                                                <span class="alert-success">[ Verified ]</span>
                                            <% } %>
                                            <br />
    
                                            <input type="hidden" value="<%- user.email %>" class="form-control form-control-lg" name="manageEmail" id="manageEmail" required>
                                            Username: <strong><%- user.username %></strong>
                                            <br />
                                            First Name: <input type="input" class="form-control form-control-lg" name="firstName" value="<%- user.firstName %>" id="firstName" placeholder="First Name" required>
                                            Last Name: <input type="input" class="form-control form-control-lg" name="lastName" value="<%- user.lastName %>" id="lastName" placeholder="Last Name" required>
                                            <br />  
    
                                            <div class="custom-control custom-checkbox">
                                                <% if(user.subscriptionActive) { %>
                                                    <input type="checkbox" class="custom-control-input" id="subscriptionActive" name="subscriptionActive" checked />
                                                <% } else { %>
                                                    <input type="checkbox" class="custom-control-input" id="subscriptionActive" name="subscriptionActive" />
                                                <% } %>
                                                <label class="custom-control-label" for="subscriptionActive">Subcription Active <- Turn on or off emails from us</label>
                                            </div>
                                            <br />
                                            <h5>Letting us know which topics your are most intested in helps us find related research and
                                                collaborators that might be of interest to you (optional)</h5>
                                            <p>TODO:Tags Tag selection will go here</p> 
                                          
                                        </div>
                                        <button type="submit" id="userManageButton" class="btn btn-primary btn-lg btn-block">Update Information</button>
                                    </form>
                                    <br />
                                </section>
    
                            </div>
                            <div class="col-lg-5">
                                
                                <%
                                if( locals.user.profileFilename.toString().substring(0, 7) == "http://" || locals.user.profileFilename.toString().substring(0, 8) == "https://" ) {
                                    %>
                                    <img src="<%- locals.user.profileFilename %>" alt="Profile Picture" title="Profile Picture" class="profile-large-image" />
                                    <%
                                } else {
                                    %>
                                    <img src="<%= process.env.AVATAR_IMAGE_WEB_PATH%><%- locals.user.profileFilename %>" alt="Profile Picture" title="Profile Picture" class="profile-large-image" />
                                    <%
                                }
                                %>
                                
                                <%- include('../partials/message'); %>
    
                                <form action="/user/uploadProfilePicture" method="POST" enctype="multipart/form-data" style="width: 100%;">
                                    <div class="mb-2">
                                        <label for="formFile" class="form-label">Upload a profile picture (1MB Max size)</label>
                                        <input class="form-control btn-secondary" accept="image/jpeg,image/jpg,image/png" type="file" id="formFile" name="profileImage">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Upload</button>
                                </form>
                                
    
                                <!-- All users are creators in agora, this is a relic from cc -->
                                <!-- <%
                                if(user.roles.filter(role => role.roleName === "Creator").length > 0) {
                                    %>
                                    <hr />
                                    <h2>Create Content</h2>
    
                                    <a class="card" style="width: 100%;" href="/a">
                                        <img class="product-img-overlay" src="<%= process.env.AVATAR_IMAGE_WEB_PATH%><%- locals.user.profileFilename %>" alt="Card image cap">
                                        <div class="card-body product-card-text-raised">
                                            <h5 class="card-title">Creator Panel</h5>
                                            <p class="card-text">Manage, edit and create new workspaces, topics and resources</p>
                                        </div>
                                    </a> 
                                    <%
                                }
                                %> -->
    
                                <!-- <div class="divider-custom">
                                    <div class="divider-custom-line divider-bg-color"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-chalkboard-teacher divider-color"></i></div>
                                    <div class="divider-custom-line divider-bg-color"></div>
                                </div> -->
    
                                <!-- TODO:Sharing revisit if this space should be reused for sharing when completed -->
                                <!-- <h2>Membership</h2>
    
                                <% 
                                if(products && products.length > 0) {
                                    let memberships = products.filter(product => product.productType === 'membership');
                                    memberships.forEach(membership => {
                                        
                                        let tempStatus = membership.status;
                                        if(membership.status === 'complete') {
                                            tempStatus = 'Valid'
                                        }
                                    
                                        %>
                                        <div class="card" style="width: 100%;">
                                            <img class="product-img-overlay" src="<%- membership.productStaticImage %>" alt="Card image cap">
                                            <div class="card-body product-card-text-raised">
                                                <h5 class="card-title"><%- membership.productName %></h5>
                                                <p class="card-text"><%- membership.productDescription1 %></p>
                                                <p class="card-text">Status: <%- tempStatus %></p>
                                            </div>
                                        </div> 
                                        <%
                                    })
                                }
                                else {
                                    %> 
                                    <div class="card" style="width: 100%;">
                                        
                                        <div class="card-body product-card-text-raised">
                                            <h5 class="card-title">No Membership currently</h5>
                                            <p><a href="/community/purchase">Learn more about membership</a></p>
                                        </div>
                                    </div> 
                                    <%
                                }
                                %> -->
                                
                                <div class="divider-custom">
                                    <div class="divider-custom-line divider-bg-color"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-laptop-code divider-color"></i></div>
                                    <div class="divider-custom-line divider-bg-color"></div>
                                </div>
    
                                <%
                                if( process.env.AGORA_PRODUCT_PAGE == 'true' ) {
                                %>
                                    <h2>Products</h2>
                                    
                                    
                                    <% 
    
                                    if(products && products.length > 0) {
                                        let nonMemberships = products.filter(product => product.productType === 'product');
                                        nonMemberships.forEach(product => {
                                            
                                            let tempStatus = product.status;
                                            if(product.status === 'complete') {
                                                tempStatus = 'Paid - Awaiting Shipping'
                                            }
                                            
                                            %>
                                            <div class="card" style="width: 100%;">
                                                <img class="product-img-overlay" src="<%- product.productStaticImage %>" alt="Card image cap">
                                                <div class="card-body product-card-text-raised">
                                                    <h5 class="card-title"><%- product.productName %></h5>
                                                    <p class="card-text"><%- product.productDescription1 %></p>
                                                    <p class="card-text">Status: <%- tempStatus %></p>
                                                </div>
                                            </div> 
                                            <%
                                        })
                                    }
                                    else {
                                        %> 
                                        <div class="card" style="width: 100%;">
                                            
                                            <div class="card-body product-card-text-raised">
                                                <h5 class="card-title">You have no purchases so far,</h5>
                                                <p>Check out the <a href="/codebot">Code Bot 3π+</a></p>
                                            </div>
                                        </div> 
                                        <%
                                    }
                                    %>
    
                                <%
                                }
                                %>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </content>
        
        <!-- Footer-->
        <%- include('../partials/footer'); %>
        <!-- Copyright Section-->
        <%- include('../partials/copyright'); %>
        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
        <div class="scroll-to-top d-lg-none position-fixed">
            <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a>
        </div>
        <%- include('../partials/jsincludes'); %>
    </body>
</html>