<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body id="page-top">
        <%

        %>

        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
            <%- include('../partials/topmenu'); %> 
        </nav>


        <!-- About Section-->
        <content>
            <section class="page-section main-content mt-3 masthead-jr" id="user-profile">
                <div class="container navbar-interior font-weight-bold text-primary">
                    <%- include('../partials/welcome'); %>
                </div>
    
                <div class="container">
    
                    <div class="user-page-top">
                        <% 
                        if(user) {
                            if( user.profileFilename.toString().substring(0, 7) == "http://" || user.profileFilename.toString().substring(0, 8) == "https://" ) {
                                %>
                                <img src="<%- user.profileFilename %>" alt="Profile Picture" title="Profile Picture" class="profile-large-image" />
                                <%
                            } else {
                                %>
                                <img src="<%= process.env.AVATAR_IMAGE_WEB_PATH%><%- user.profileFilename %>" alt="Profile Picture" title="Profile Picture" class="profile-large-image" />
                                <%
                            }
                        }
                        else {
                        %> 
                            <img src="" alt="Profile Picture" title="Profile Picture" class="profile-large-image" /></a>
                        <%
                        }
                        %>
                        
                            
                            
                            <div id="user-badges">
                                <h2><span class="text-primary" ><%= (!!user)?user.username:'' %></span></h2>
                                <%
                                if( user && (user.admin || user.member || user.creator || user.codebot) ) {
                                    %>
                                    <h4>Membership Badges:</h4>
                                    <%
                                }
                                %>
                            </div>
                                
                                <%
                                if(user && user.admin) {
                                    %>
                                    <img src="/assets/badges/admin-badge.png" title="Site Administrator" alt="Site Administrator" class="badge-image" />
                                    <%
                                }
                                %>
            
                                <%
                                if(user && user.member) {
                                    %>
                                    <img src="/assets/badges/founding-member-badge.png" title="Founding Supporter" alt="Founding Supporter" class="badge-image" />
                                    <%
                                }
                                %>
            
                                <%
                                if(user && user.creator) {
                                    %>
                                    <img src="/assets/badges/creator-badge.png" title="Creator" alt="Creator" class="badge-image" />
                                    <%
                                }
                                %>
            
                                <%
                                if(user && user.codebot) {
                                    %>
                                    <img src="/assets/badges/codebot-badge.png" title="Codebot" alt="Codebot" class="badge-image" />
                                    <%
                                }
                                %>
                                <!-- <h4>Workspaces Completed:</h4>
                                <%
                                if(user && user.enrollments && user.enrollments.length > 0) {
                                    for( let i=0; i < user.enrollments.length; i++ ) {
                                        if( user.enrollments[i].isCompleted ) {
                                            %>
                                            <img src="<%= process.env.WORKSPACE_IMAGE_WEB_PATH%><%- user.enrollments[i].workspace.workspaceImage %>" title="<%- user.enrollments[i].workspace.workspaceName %>" alt="<%- user.enrollments[i].workspace.workspaceName %>" class="badge-image" />
                                            <%
                                        }
                                    }
                                }
    
                                %> -->
    
            
                            </div>
                       
                    </div>
    
                    <div class="text-left mt-4">
                        <div id="story1" class="row justify-content-left">
    
                            <div class="col-lg-4">
                                <h5><%= (!!user)?user.username:'' %>'s Interests</h5>
                                <h5>Letting us know which topics your are most interested in helps us find related research and collaborators that might be of interest to you (optional)</h5>
                                <p>TODO:Tags Tag selection will go here</p> 
                            </div>
                            
    
                            <!-- <div class="col-lg-8">
                                <h4>Currently Enrolled In:</h4>
                                <%- include('../community/partials/enrolled-workspaces') %>
    
                            </div> -->
                            
                        </div>
                    </div>
                
                </div>
    
            </section>
        </content>
        
        <!-- Footer-->
        <%- include('../partials/footer'); %>
        <!-- Copyright Section-->
        <%- include('../partials/copyright'); %>
        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
        <div class="scroll-to-top d-lg-none position-fixed">
            <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a>
        </div>
        <%- include('../partials/jsincludes'); %>
    </body>
</html>