<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body id="page-top">
    <%- include('../dashboard/side-menu/side-menu.ejs'); %>
    
    <h1 class="text-secondary pt-3 pl-1 pb-0">Community</h1>
    <hr />
    <%- include('./community-gallery.ejs'); %>

    <!-- About Section-->

    <section class="page-section-top-padded mb-0" id="about">
        <div class="container navbar-interior font-weight-bold text-primary">
            <%- include('../partials/welcome'); %>
        </div>

        <div class="container">
            <div class="divider-custom"></div>

            <div class="text-left mt-4">
                <div id="story1" class="row justify-content-left">
                    <div class="col-lg-5">
                        <h3 class="text-secondary">Resources</h3>

                        <a class="card" style="width: 100%" name="unenrolled_card" href="#" id="placeholder">
                            <div class="card-body">
                                <img class="product-img-overlay" src="/assets/img/logos/Agora-Logo-1-wText-400.png"
                                    alt="Card image cap" />
                                <div class="card-body product-card-text-raised">
                                    <h6>
                                        <input type="button" class="btn-secondary btn-block"
                                            value="placeholder" />
                                    </h6>
                                    <p class="card-text">This is the description</p>
                                </div>
                            </div>
                        </a>

                        <div class="divider-custom">
                            <div class="divider-custom-line divider-bg-color"></div>
                            <div class="divider-custom-icon">
                                <i class="fas fa-book-reader divider-color"></i>
                            </div>
                            <div class="divider-custom-line divider-bg-color"></div>
                        </div>

                        <h3 class="text-secondary">Courses</h3>
                        <h4 class="text-secondary">Available</h4>
                        <%- include('./partials/available-workspaces'); %>

                        <h4 class="text-secondary">Enrolled</h4>
                        <%- include('./partials/enrolled-workspaces'); %>

                        <h4 class="text-secondary">Completed</h4>
                        <%- include('./partials/completed-workspaces'); %>

                        <div class="divider-custom">
                            <div class="divider-custom-line divider-bg-color"></div>
                            <div class="divider-custom-icon">
                                <i class="fas fa-bell divider-color"></i>
                            </div>
                            <div class="divider-custom-line divider-bg-color"></div>
                        </div>

                        <% if(locals.authUser.member) { %>
                            <div class="alert-message alert-message-success" role="document">
                                <h5>Thank you for supporting Agora!</h5>
                                <p>
                                    Agora is possible because of thougthful contributions from
                                    users like you!
                                </p>
                            </div>
                        <% } else { %>
                            <div class="alert-message alert-message-info" role="document">
                                <h5>
                                    Need Tokens? Want to learn more about supporting Agora and
                                    the
                                    benefits of becoming a member?
                                </h5>
                                <p>
                                    <a href="/community/purchase">Learn more about tokens and
                                        membership</a>
                                </p>
                            </div>
                        <% } %>
                        <% if(!user.emailValidated){ %>
                            <div class="alert-message alert-message-warning"
                                role="alert">
                                <h3>Email not verified!</h3>
                                <p>
                                    Please check your email for a verifacation link and
                                    click on
                                    it to finish the verification process.
                                    <strong>Be sure to check your spam folder</strong>
                                    if you do
                                    not see it in your inbox. If it has not arrived
                                    after a few
                                    minutes
                                    <a href="/user/revalidate/<%- user.email %>">Re-send verification email</a>
                                </p>
                            </div>
                        <% } %>
                    </div>
                    <div class="col-lg-7">
                        <section>
                            <h4 class="text-secondary">Feed</h4>
                            <%- include('./partials/user-enrollment-events'); %>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer-->
    <footer class="footer text-center">
        <%- include('../partials/footer'); %>
    </footer>
    <!-- Copyright Section-->
    <div class="copyright py-4 text-center text-white">
        <%- include('../partials/copyright'); %>
    </div>
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
    <div class="scroll-to-top d-lg-none position-fixed">
        <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i
                class="fa fa-chevron-up"></i></a>
    </div>
    <%- include('../partials/jsincludes'); %>
</body>

</html>