<!--<% 
var comments = [{id: 0, user: "John", pfp: "account_circle", text: "This is a comment", likes: 0, timestamp: "11/15/2022"},
                {id: 1, user: "Nick", pfp: "account_circle", text: "This is a comment also", likes: 0, timestamp: "11/15/2022"},
                {id: 2, user: "Lindsey", pfp: "account_circle", text: "This is a comment, too, but this commenter doesn't like tacos. This is a large problem in my book.", likes: 0, timestamp: "11/15/2022"},
                {id: 3, user: "Alesha", pfp: "account_circle", text: "This is a comment as well", likes: 0, timestamp: "11/15/2022"}];
%>-->

<div class="modal fade discussion-modal-pos" id="discussion-modal" tabindex="-1" role="dialog" aria-labelledby="discussion-title" aria-hidden="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content discussion-modal-edges">
      <div class="modal-header">
        <h5 class="modal-title" id="discussion-title">Comments</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body flex-column" id="discussions-body">
          <div contenteditable="true" class="discussion-textarea" id="discussion-textarea"></div>
          <button class="post-comment-btn" id="post-comment-btn">Send</button>
          <% comments.forEach((comment)=> { %>
              <div class="flex-column comment-countable" id="comment-<%=comment.commentId%>">
                  <div class="flex-row">
                      <span class="material-symbols-outlined" style="margin: 0"><%= comment.pfp %></span>
                      <span class="discussion-user"><%= comment.user %></span>
                  </div>
                  <div class="comment-body"><%= comment.text %></div>
                  <div class="comment-footer flex-row">
                      <button id="like-button" class="like-button flex-row">
                          <span class="material-symbols-outlined like-icon">thumb_up</span>
                          <span style="margin: 2px 0 0 1px"><%= comment.likes %></span>
                      </button>
                      <hr class="footer-hr">
                      <span class="post-date"><%=comment.timestamp%></span>
                  </div>
                  <hr style="width: 100%;">
              </div>
          <% }) %>
      </div>
    </div>
  </div>
</div>
