<% const showTags=(tags) => {
    for(let i=0; i < tags.length; i++) { %>
        <span class="badge badge-primary topic-badge">
          <%= tags[i]%>
        </span>
    <% }
} %>

<% //name:string, description:string, tags:array, content:array %>
    <% const renderListCard=(id,name,desc,tags,contentType, content)=> { 
        
      if (contentType === "Topic") { %>

        <!--Topic List Member -->
        <li class="list-group-item list-view view-check" id="t-lv-<%= id %>" onclick="topicReroute(id, false)">
            <span id="t-lv-card-title-<%= id %>"><%=name%></span>
            <span class="badge badge-dark note-badge" style="position: absolute; left: 33.1%;"><%=contentType%></span>
            <span style="position: absolute; left: 45.7%"><% showTags(tags) %></span>
            <span class="trigger1 trigger2" id="t-lv-option-<%= id %>">
                <img class="list-more-options" src="/assets/img/buttons/more-options.png" class="dropbtn"/>
                <span style="position: relative; left: 88%; bottom: 30px; cursor: pointer">
                    <%- include('./dropdown.ejs'); %>
                </span>
            </span>
        </li>
            
      <% } else if (contentType === "Goal") { %>

        <!--Goal List Member-->
        <li class="list-group-item list-view view-check a-goal" id="g-lv-<%= id %>" onclick="topicReroute(id, false)">
            <span id="g-lv-card-title-<%= id %>"><%=name%></span>
            <span class="badge badge-dark note-badge" style="position: absolute; left: 33.1%;"><%=contentType%></span>
            <span style="position: absolute; left: 45.7%"><% showTags(tags) %></span>
            <span class="trigger1 trigger2" id="g-lv-option-<%= id %>">
                <img class="list-more-options" src="/assets/img/buttons/more-options.png" class="dropbtn"/>
                <span style="position: relative; left: 88%; bottom: 30px; cursor: pointer">
                    <%- include('./dropdown.ejs'); %>
                </span>
            </span>
        </li>
    <% }
}%>
</div>

<!--List Display-->
<div id="list-container" style="display: none">
    <ul class="list-group list-group-flush" style="margin-top: 5%" id="list-column">
        <li class="list-group-item" style="font-weight: bold;">
            <span>Name</span>
            <span style="margin-left: 29%">Type</span>
            <span style="margin-left: 10%">Tags</span>
        </li>
        <% 
        for (let i = 0; i < ownerGoals.length ; i++) { 
            renderListCard(ownerGoals[i].id,ownerGoals[i].goalName,ownerGoals[i].goalDescription,["Bio","Chem"],"Goal", ["Doc1","doc2"]) 
        } 
        for (let i = 0; i <  availableTopics.length ; i++) { 
            renderListCard(ownerTopics[i].topicId,ownerTopics[i].topicName,ownerTopics[i].topicDescription,["Bio","Chem"],"Topic", null); 
         
         }
         
        %>
    </ul>



