<!DOCTYPE html>

<html>
  <head>
    <script src="../../../../public/js/dashboard"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <%- include('../../../partials/head.ejs'); %>
  </head>
  <body>
    <%- include('./preview-modal.ejs'); %>
    <% //name:string, description:string, tags:array %>
    <% const renderCard =(id,name,desc,tags,contentType) => { %>
      <div class="col mb-3 gallery-col align-items-stretch">
      <div class="card h-100"  data-toggle="modal" data-target="#exampleModal"  id="<%= id %>"  onclick="viewModal(id)" onmouseover="toggleMoreOptionsOn(id)" onmouseout="toggleMoreOptionsOff(id)">
        <div class="dropdown">
          <img src="/assets/img/buttons/more-options.png" alt="More options" class="dropbtn" id="option-<%= id %>"/>
          <div class="dropdown-content">
            <a href="#"><span class="material-icons">&nbsp;delete_forever</span><span class="icon-text">&nbsp;Delete</span></a>
            <a href="#"><span class="material-icons">&nbsp;filter_none</span><span class="icon-text">&nbsp;Duplicate</span></a>
            <a href="#"><span class="material-icons">&nbsp;link</span><span class="icon-text">&nbsp;Copy Link</span></a>
            <a href="#"><span class="material-icons">&nbsp;arrow_outward</span><span class="icon-text">&nbsp;Open in new tab</span></a>
            <a href="#"><span class="material-icons">&nbsp;edit_square</span><span class="icon-text">&nbsp;Rename</span></a>
          </div>

        </div>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title" id="card-title-<%= id %>"><%= name%></h5>
          <p class="card-text mb-4" id="card-desc-<%= id %>" > <%= desc%></p>    
        </div>
        <div class="card-footer">
          <% for(let i = 0; i <tags.length; i++) { %>
            <span class="badge badge-primary topic-badge"><%= tags[i]%></span>
            <% } %>  
          <span class="badge badge-dark note-badge"><%= contentType %> </span>
            </div>
      </div>
      </div>
      <% } %>
      <h1 class="text-secondary pt-3 pl-1">My Notes</h1>
    <hr>
    <div class="container">
      <% for (let i =0; i <availableResources.length +1; i ++) { 
        if(i === 0){
       %>
       <div class="row ">
        <div class="col mb-3 gallery-col align-items-stretch">
      <div class="card h-100"  data-toggle="modal" data-target="#create-resource-modal" onclick='updateResourceModal(<%- availableResources[i].id %>, "<%- process.env.RESOURCE_IMAGE_WEB_PATH %>");'   >
        <div class="dropdown">
          <img src="/assets/img/buttons/more-options.png" alt="More options" class="dropbtn" />
          <div class="dropdown-content">
            <a href="#">Delete</a>
            <a href="#">Download</a>
            <a href="#">Share</a>
          </div>
        </div>
        <div class="card-body d-flex flex-column">
          <img src="/assets/img/buttons/new-content.png" class="mx-auto d-block btn-add-content" alt="Add content">
        </div>
        
      </div>
      </div>
        
        <% }else if(i % 3 === 0) {%>
          </div>
          <div class="row ">
            <%  renderCard(i-1,availableResources[i-1].resourceName,availableResources[i-1].resourceDescription,["Bio","Chem"],"Note") %>


            <% }else{ %>
              <%  renderCard(i,availableResources[i-1].resourceName,availableResources[i-1].resourceDescription,["Bio","Chem"],"Note") %>
       <% }}%>
          </div>
    
  
  
  
    

  <%- include('../../../partials/jsincludes.ejs'); %>
<script>
  function viewModal(id,name,desc){
    console.log(id)
    let nameId = "card-title-"+id;
    let descId = "card-desc-"+id;
    
   document.getElementById("viewModalLabel").textContent = document.getElementById(nameId).textContent;
   document.getElementById("note-modal-description").textContent = document.getElementById(descId).textContent
  
  }
  function toggleMoreOptionsOn(id){

    let dropId = "option-" + id;
      document.getElementById(dropId).style.visibility = "visible";
    
  }
  function toggleMoreOptionsOff(id){

let dropId = "option-" + id;
  document.getElementById(dropId).style.visibility = "hidden";

}
  $('.dropdown-content').on('click', function (ev) {
    ev.stopPropagation();
});

$('.dropbtn').on('click', function (ev) {
    ev.stopPropagation();
});
  </script>
  
</html>