
<!--Declaring ejs function to display cards-->
<%- include('./delete-modal.ejs'); %>
<%- include('./rename-modal.ejs'); %>
<%- include('./alert-toast.ejs'); %>
<%- include('./new-topic-workspace.ejs'); %>
<% //name:string, description:string, tags:array, content:array %>
    


<!--View Toggle-->
<%- include('./view-toggle.ejs'); %>  

<!--List Toggle-->
<%- include('./list-toggle.ejs'); %>

<!--Search bar-->
<input id="topic-search" class="card-search" placeholder="Search" style="margin-right: 40px;" oninput="queryTopics(document.getElementById('topic-search').value, topicArr) "/>

<hr class="mt-0">
<div class="container" id="main-container">
  <%- include('./grid-template.ejs'); %>
  <%- include('./list-template.ejs'); %>

</div>      


