<!DOCTYPE html>

<html>

<head>
  <script src="../../../../public/js/dashboard"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <%- include('../../../partials/head.ejs'); %>
</head>

<body>
  <%- include('./preview-modal.ejs'); %>
    <% //name:string, description:string, tags:array, content:array %>
      <% const renderCard=(id,name,desc,tags,contentType, content)=> { 
        if (contentType === "Note") { %>

          <! --Note Card -->
        <div class="col mb-3 gallery-col align-items-stretch">
          <div class="card h-100" data-toggle="modal" data-target="#exampleModal" id="<%= id %>" onclick="viewModal(id)"
            onmouseover="toggleMoreOptionsOn(id)" onmouseout="toggleMoreOptionsOff(id)">
            <div class="dropdown">
              <img src="/assets/img/buttons/more-options.png" alt="More options" class="dropbtn"
                id="option-<%= id %>" style="visibility: hidden"/>
              <%- include('./dropdown.ejs'); %>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title" id="card-title-<%= id %>">
                <%= name%>
              </h5>
              <p class="card-text mb-4" id="card-desc-<%= id %>">
                <%= desc%>
              </p>
            </div>
            <div class="card-footer">
              <% for(let i=0; i < tags.length; i++) { %>
                <span class="badge badge-primary topic-badge">
                  <%= tags[i]%>
                </span>
                <% } %>
                  <span class="badge badge-dark note-badge">
                    <%= contentType %>
                  </span>
            </div>
          </div>
        </div>
        <% } else if(contentType === "Goal") {%>

          <! -- Goal Card -->
          <div class="col mb-3 gallery-col align-items-stretch">
            <div class="card h-100" data-toggle="modal" data-target="#exampleModal" id="<%= id %>" 
              onmouseover="toggleMoreOptionsOn(id)" onmouseout="toggleMoreOptionsOff(id)">
              <div class="dropdown">
                <img src="/assets/img/buttons/more-options.png" alt="More options" class="dropbtn"
                id="option-<%= id %>" style="visibility: hidden"/>
                  <%- include('./dropdown.ejs'); %>
              <div class="card-body d-flex flex-column">
                <h5 class="card-title" id="card-title-<%= id %>">
                  <%= name %>
                </h5>
                <div id="card-desc-<%= id %>">
                  <% if (content) { %>
                    <ul class="list-group list-group-flush list-grid">
                      <% content.slice(0,8).forEach((item) => { %>
                        <li class="list-group-item item-list" title='Open <%=item%>'> <span class="material-icons" style="color: blue">&nbsp;description</span><span class="item-list-text"><%= item %></span></li>
                      <% }) %>
                    </ul>
                  <% } %>
                  </div>
              </div>
              <div class="card-footer" >
                <% for(let i=0; i < tags.length; i++) { %>
                  <span class="badge badge-primary topic-badge">
                    <%= tags[i]%>
                  </span>
                  <% } %>
                    <span class="badge badge-dark note-badge">
                      <%= contentType %>
                    </span>
              </div>
            </div>
          </div>

        <% }}%>
          <h1 class="text-secondary pt-3 pl-1">My Notes</h1>
          <hr>
          <div class="container">
            <% for (let i = 0; i < availableResources.length + 1; i++) { 
              if (i === 0) { %>
                <div class="row ">
                  <div class="col mb-3 gallery-col align-items-stretch">
                    <div class="card h-100" data-toggle="modal" data-target="#create-resource-modal"
                      onclick='updateResourceModal(<%- availableResources[i].id %>, "<%- process.env.RESOURCE_IMAGE_WEB_PATH %>");'>
                      <div class="card-body d-flex flex-column" style="margin-top: 8%">
                        <img src="/assets/img/buttons/new-content.png" class="mx-auto d-block btn-add-content"
                          alt="Add content">
                      </div>
                    </div>
                  </div>

                <% }else if(i % 3===0) {%>
              </div>
              <div class="row ">
                <% renderCard(i-1,availableResources[i-1].resourceName,availableResources[i-1].resourceDescription,["Bio","Chem"],"Goal", ["Doc 1","Doc 2","Doc 3", "Doc 4","Doc 5"])
                  %>


                  <% }else{ %>
                    <% renderCard(i,availableResources[i-1].resourceName,availableResources[i-1].resourceDescription,["Bio","Chem"],"Note", null)
                      %>
                      <% }}%>
              </div>



              <%- include('../../../partials/jsincludes.ejs'); %>

                <script>
                  $('.dropdown-content').on('click', function (ev) {
                    ev.stopPropagation();
                  });

                  $('.dropbtn').on('click', function (ev) {
                    ev.stopPropagation();
                  });
                </script>

</html>