<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg text-uppercase fixed-top" id="mainNav">
            <%- include('../partials/topmenu'); %>
        </nav>


        <!-- Page Content -->
        <section class="page-section page-section-top-padded mb-0" id="about">
            <div class="container navbar-interior font-weight-bold text-primary">
                <%- include('../partials/welcome'); %>
            </div>
            <div class="container">
                <!-- About Section Heading-->
                <div class="divider-custom">
                    <div class="divider-custom-line divider-bg-color"></div>
                    <div class="divider-custom-icon"><i class="fas fa-school divider-color"></i></div>
                    <div class="divider-custom-line divider-bg-color"></div>
                </div>

                <!-- About Section Content-->
                <!--
                <div class="row">
                    <div class="col-lg-4 ml-auto"><p class="lead">About the site</p></div>
                    <div class="col-lg-4 mr-auto"><p class="lead">About me</p></div>
                </div>
                -->
                <!-- About Section Button-->
                <div class="text-left mt-4">
                    <div id="story1" class="row justify-content-left">
                        <div class="col-lg-7">
                            <h2>Thank you <%- (!!locals.customer)?locals.customer.name:'' %></h2>
                            <h2>Welcome founding member!</h2>
                            <p>You have full access to all present and future course material.</p>
                            <p>Head to the <a href="/community">COMMUNITY</a> page to start!</p>
                            <p>If you have any questions please email:
                                <a href="mailto:orders@codingcoach.net">orders@codingcoach.net</a>.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- Footer-->
        <footer class="footer text-center">
            <%- include('../partials/footer'); %>
        </footer>
        <!-- Copyright Section-->
        <div class="copyright py-4 text-center text-white">
            <%- include('../partials/copyright'); %>
        </div>
        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
        <div class="scroll-to-top d-lg-none position-fixed">
            <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a>
        </div>
        <%- include('../partials/jsincludes'); %>
    </body>
</html>
