<%
if(topic) {
    
    
    if(topic.assessment) {
        // 
        %>
        <div id="topicAssessment-<%- topic.assessment.assessmentId %>" name="topicAssessment" class="assessment-group">
            <input type="hidden" name="topicAssessmentId" value="<%- topic.assessment.assessmentId %>" />
            Name: <input type="input" class="form-control form-control-lg" name="topicAssessmentName" value="<%- topic.assessment.assessmentName %>" id="topicAssessmentName" placeholder="Assessment Title" required>
            Desciption: <input type="input" class="form-control form-control-lg" name="topicAssessmentDescription" value="<%- topic.assessment.assessmentDescription %>" id="topicAssessmentDescription" placeholder="Description">
            Pre Assessment Threshold: <input type="input" class="form-control form-control-lg" name="topicAssessmentPreThreshold" value="<%- topic.assessment.preThreshold %>" id="topicAssessmentPreThreshold" placeholder="90" required>
            Post Assessment Threshold: <input type="input" class="form-control form-control-lg" name="topicAssessmentPostThreshold" value="<%- topic.assessment.postThreshold %>" id="topicAssessmentPostThreshold" placeholder="70" required>
            Active: <input type="checkbox" class="" id="topicAssessmentActive" name="topicAssessmentActive" <%- (topic.assessment.active)?'checked':'' %> />
            
            <div id="questions-border">
            <%

            // Assessment already exists - edit mode
            let optionCounter = 1;
            if(topic.assessment.questions) {
                // show existing questions
                for(let i=0; i < topic.assessment.questions.length; i++) {
                    %>
                    <div id="question-border-<%- (i + 1) %>" class="question-border">
                        <input type="hidden" id="topicAssessmentQuestionId-<%- (i + 1) %>" name="topicAssessmentQuestionId" value="<%- (i + 1) %>" />
                        <h6>Question <span id="question-number-<%- (i + 1) %>"><%- (i + 1) %></span>: </h6>
                        <span>
                            <button id="question-delete-<%- (i + 1) %>" type="button" class="btn btn-outline-danger" onclick="removeQuestion(<%- (i + 1) %>);">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                                </svg>
                                Delete
                            </button>
                        </span>
                        <p></p>
                        <input type="input" class="form-control form-control-lg" name="topicAssessmentQuestionName-<%- (i + 1) %>" value="<%- topic.assessment.questions[i].question %>" id="topicAssessmentQuestionName-<%- (i + 1) %>" placeholder="Assessment Title" required />
                        <div id="options-border-<%- (i + 1) %>" class="options-border">
                            <%
                            let j = 0;      // we will want to track outside loop for new entries
                            if(topic.assessment.questions[i].options) {
                                while(j < topic.assessment.questions[i].options.length) {
                                    let correctFlag = false;
                                    if(topic.assessment.questions[i].correctOptionId == topic.assessment.questions[i].options[j].id) {
                                        // this is the correct answer
                                        correctFlag = true;
                                    }

                                    %>
                                    <div id="option-border-<%- (i + 1) %>-<%- (j + 1) %>" class="option-border-<%- (j + 1) %>">
                                        <input type="hidden" id="topicAssessmentQuestionOptionId-<%- (i + 1) %>-<%- (j + 1) %>" name="topicAssessmentQuestionOptionId-<%- (i + 1) %>" value="<%- j + 1 %>" />
                                        <span>Option <span id="option-number-<%- (i + 1) %>-<%- j + 1 %>"><%- (j + 1) %></span> : Mark Option Correct</span> <input type="radio" id="topicAssessmentQuestionOptionsCorrect-<%- (i + 1) %>-<%- j + 1 %>" name="topicAssessmentQuestionOptionsCorrect-<%- (i + 1) %>" value="<%- (j + 1) %>" <%- (!!correctFlag)?'checked':'' %> />
                                        <span class="button-right">
                                            <button id="option-delete-<%- (i + 1) %>-<%- (j + 1) %>" type="button" class="btn btn-outline-danger" onclick="removeOption(<%- (i + 1) %>, <%- (j + 1) %>);">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                                                </svg>
                                                Delete
                                            </button>
                                        </span>
                                        <input type="input" class="form-control form-control-lg" name="topicAssessmentQuestionOptions-<%- (i + 1) %>" value="<%- topic.assessment.questions[i].options[j].optionAnswer %>" id="topicAssessmentQuestionOption-<%- (i + 1) %>-<%- j + 1 %>" placeholder="Assessment Title" required />
                                        
                                    </div>
                                    <%
                                    j++;
                                    optionCounter++;
                                }
                            }
                            %>
                        </div>
                        <input type="button" name="addQuestionOption" value="Add Option" class="btn-primary" id="addQuestionOption-<%- (i + 1) %>" onclick="addOption(<%- (i + 1) %>);" />
                    </div>
                    <%
                }
                
                
            }
            %>
            </div>

        <%
        // add additional question
        // add additional question option
        %>
            <br />
            <input type="button" name="addQuestion" value="Add Question" class="btn-primary" id="addQuestionToAssessment" />
            <p>&nbsp;</p>
        </div>
        <%
    }
    
}

%>