<%
if(topic) {
    
    
    if(topic.assessment) {
        // 
        %>
        <div id="topicAssessment-<%- topic.assessment.id %>" name="topicAssessment" class="assessment-group">
            <input type="hidden" name="topicAssessmentId" value="<%- topic.assessment.id %>" />
            Name: <input type="input" class="form-control form-control-lg" name="topicAssessmentName" value="<%- topic.assessment.assessmentName %>" id="topicAssessmentName" placeholder="Assessment Title" required>
            Desciption: <input type="input" class="form-control form-control-lg" name="topicAssessmentDescription" value="<%- topic.assessment.assessmentDescription %>" id="topicAssessmentDescription" placeholder="Description">
            Active: <input type="checkbox" class="" id="topicAssessmentActive" name="topicAssessmentActive" <%- (topic.assessment.active)?'checked':'' %> />
            
            <div id="questions-border">
            <%

            // Assessment already exists - edit mode
            let optionCounter = 1;
            if(topic.assessment.questions) {
                // show existing questions
                for(let i=0; i < topic.assessment.questions.length; i++) {
                    %>
                    <div id="question-border-<%- topic.assessment.questions[i].id %>" class="question-border">
                        <input type="hidden" name="topicAssessmentQuestionId" value="<%- (i + 1) %>" />
                        <h6>Question <%- (i + 1) %>: </h6>
                        <p></p>
                        <input type="input" class="form-control form-control-lg" name="topicAssessmentQuestionName-<%- (i + 1) %>" value="<%- topic.assessment.questions[i].question %>" id="topicAssessmentQuestionName-<%- topic.assessment.questions[i].id %>" placeholder="Assessment Title" required />
                        <div id="options-border-<%- topic.assessment.questions[i].id %>" class="options-border">
                            <%
                            let j = 0;      // we will want to track outside loop for new entries
                            if(topic.assessment.questions[i].options) {
                                while(j < topic.assessment.questions[i].options.length) {
                                    let correctFlag = false;
                                    if(topic.assessment.questions[i].correctOptionId == topic.assessment.questions[i].options[j].id) {
                                        // this is the correct answer
                                        correctFlag = true;
                                    }

                                    %>
                                    <div class="option-border">
                                        <input type="hidden" name="topicAssessmentQuestionOptionId-<%- (i + 1) %>" value="<%- j %>" />
                                        Option <%- (j + 1) %> : Mark Option Correct <input type="radio" id="option-id-<%- topic.assessment.questions[i].options[j].id %>" name="topicAssessmentQuestionOptionsCorrect-<%- (i + 1) %>" value="<%- (j + 1) %>" <%- (!!correctFlag)?'checked':'' %> />
                                        <input type="input" class="form-control form-control-lg" name="topicAssessmentQuestionOptions-<%- (i + 1) %>" value="<%- topic.assessment.questions[i].options[j].optionAnswer %>" id="topicAssessmentQuestionOption-<%- topic.assessment.questions[i].options[j].id %>" placeholder="Assessment Title" required />
                                        
                                    </div>
                                    <%
                                    j++;
                                    optionCounter++;
                                }
                            }
                            %>
                        </div>
                        <input type="button" name="addQuestionOption" value="Add Option" class="btn-primary" id="addQuestionOption-<%- topic.assessment.questions[i].id %>" />
                    </div>
                    <%
                }
                
                
            }
            %>
            </div>

        <%
        // add additional question
        // add additional question option
        %>
            <br />
            <input type="button" name="addQuestion" value="Add Question" class="btn-primary" id="addQuestionToAssessment" />
            <p>&nbsp;</p>
        </div>
        <%
    }
    
}

%>