<%
if(topic) {
    if(topic.resources) {
        %>
        <div id="topicResources">
            <h3>Choose the resources that will associted with the topic</h3>
            <p>Drag and drop from available resources and re-arrange the order of chosen resources</p>
            <input type="hidden" name="selectedTopicResources" id="selectedTopicResources" value="" />
            <input type="hidden" name="selectedTopicResourcesRequired" id="selectedTopicResourcesRequired" value="" />
            <div id="pathway-draggable">
                <div class="available-container">
                    
                    <h4>Available Resources:</h4>
                    <hr />
                    <div id="available-items" class="available-items">
                        
                        <%
                        // get all of the resources available that are not already assigned to the topic
                        if(availableResources) {

                            for(let i=0; i < availableResources.length; i++) {
                                %>
                                    <div id="tr-<%- availableResources[i].id %>" class="text-primary draggable" draggable="true" >
                                        <%- availableResources[i].resourceName %>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="resource-required-<%- availableResources[i].id %>" name="resource-required" checked>
                                            <label class="custom-control-label" for="resource-required">Required?</label>
                                        </div>
                                    </div>
                                <%
                            }
                        }

                        %>
                    </div>
                </div>
                <div class="chosen-container">
                    
                    <h4>Selected Resources:</h4>
                    <hr />
                    <div id="chosen-items" class="chosen-items">
                        
                        <%

                        
                        if(topic.resources && topic.resources.length > 0) {

                            for(let i=0; i < topic.resources.length; i++) {
                            %>
                                <div id="tr-<%- topic.resources[i].id %>" class="text-primary draggable" draggable="true" >
                                    <%- topic.resources[i].resourceName %>
                                    <div class="custom-control custom-checkbox">
                                        
                                        <% if(topic.resources[i].isRequired) { %>
                                            <input type="checkbox" class="custom-control-input" id="resource-required-<%- topic.resources[i].id %>" name="resource-required" checked>
                                        <% } else { %>
                                            <input type="checkbox" class="custom-control-input" id="resource-required-<%- topic.resources[i].id %>" name="resource-required" >
                                        <% } %>

                                        <label class="custom-control-label" for="resource-required">Required?</label>
                                    </div>
                                </div>
                            <%
                            }
                        }


                        //}
                        %>
                    </div>
                </div>
            </div>
        </div>
    <%



    }
}
%>