<!-- Your HTML structure for displaying friends -->
<% if (friends.length > 0) { %>
  <% friends.forEach((friend) => { %>
    <!-- Friend Card -->
    <div class="col mb-3 align-items-stretch gallery-col query-countable a-friend">
      <div class="card h-100" id="f-gv-<%= friend %>" onmouseover="toggleMoreOptionsOn(id)" onmouseout="toggleMoreOptionsOff(id)" onclick="friendReroute(id)">
        <div class="dropdown dropbtn trigger1 trigger2 grid-options" id="f-gv-option-<%= friend %>" style="visibility: hidden">
          <img src="/assets/img/buttons/more-options.png" class="dropbtn" />
          <%- include('./dropdown.ejs'); %>
        </div>
        <div class="card-body d-flex flex-column" id="friend">
          <h5 class="card-title" id="f-gv-card-title-<%= friend %>">
            <!-- Display friend's name here -->
            <%= friend %>
          </h5>
          <p class="card-text mb-4" id="f-gv-card-desc-<%= friend %>">
            <!-- Display friend's email here -->
            <%= friend %>
          </p>
        </div>
        <div class="card-footer">
          <span class="badge badge-dark note-badge">
            Friend
          </span>
        </div>
      </div>
    </div>
  <% }); %>
<% } else { %>
  <!-- Display a message when there are no friends -->
  <div class="col mb-3 align-items-stretch gallery-col query-countable a-friend">
    <div class="card h-100">
      <div class="card-body d-flex flex-column" id="friend">
        <h5 class="card-title" id="f-gv-card-title-">
          No Friends
        </h5>
        <p class="card-text mb-4" id="f-gv-card-desc-">
          You don't have any friends yet.
        </p>
      </div>
      <div class="card-footer">
        <span class="badge badge-dark note-badge">
          Friend
        </span>
      </div>
    </div>
  </div>
<% } %>