<%

//console.log("current step is: " + currentStep);
let allComplete = true;
let prevAllComplete = true;

let requiredCompletedResources = topicEnrollment.topic.resources.filter((resource) => resource.isRequired == true);
%>

<div class="grouping" id="step1">
    <span class="float-left">
        <label class="switch" id="switch1" checked>
            <%
            if(topicEnrollment.isIntroComplete) {
                %>
                <input type="checkbox" id="togBtn" checked disabled>
                <%
            }
            else {
                allComplete = false;
                %>
                <input type="checkbox" id="togBtn"disabled>
                <%
            }
            %>
            <div class="slider round"></div>
        </label>
    </span>
    <span class="float-right">
        <%
        if(prevAllComplete) {
            %>
            <h5 class="codingcoach-red" id="step1-text"><a href="/community/topic/override/<%- workspaceId %>/<%- topicEnrollment.topic.topicId %>/1">Introduction</a></h5>
            <%
        }
        else {
            %>
            <h5 class="codingcoach-red" id="step1-text">Introduction</h5>
            <%
        }
        prevAllComplete = allComplete;
        %>
    </span>
</div>
<div class="grouping" id="step2">
    <span class="float-left">
        <label class="switch">
            <%
            if(topicEnrollment.preCompletedAssessmentId > 0) {
                %>
                <input type="checkbox" id="togBtn" checked disabled>
                <%
            }
            else {
                allComplete = false;
                %>
                <input type="checkbox" id="togBtn" disabled>
                <%
            }
            %>
            <div class="slider round"></div>
        </label>
    </span>
    <span class="float-right">
        <%
        if(prevAllComplete) {
            %>
            <h5 class="codingcoach-red" id="step2-text"><a href="/community/topic/override/<%- workspaceId %>/<%- topicEnrollment.topic.topicId %>/2">Pre-Assessment</a></h5>
            <%
        }
        else {
            %>
            <h5 class="codingcoach-red" id="step2-text">Pre-Assessment</h5>
            <%
        }
        prevAllComplete = allComplete;
        %>
    </span>
</div>
<div class="grouping" id="step3">
    <span class="float-left">
        <label class="switch">
            <%
            let allResourcesComplete = true;
            if(topicEnrollment.completedResources) {
                for(let i=0; i < topicEnrollment.completedResources.length; i++) {
                    if(!topicEnrollment.completedResources[i].active) {
                        allResourcesComplete = false;
                        break;
                    }
                }
            }
            if(topicEnrollment.completedResources && topicEnrollment.topic && topicEnrollment.topic.resources && topicEnrollment.completedResources.length == requiredCompletedResources.length && allResourcesComplete) {
                %>
                <input type="checkbox" id="togBtn" checked disabled>
                <%
            }
            else if(topicEnrollment.isCompleted) {
                %>
                <input type="checkbox" id="togBtn" checked disabled>
                <%
            }
            else {
                allComplete = false;
                %>
                <input type="checkbox" id="togBtn" disabled>
                <%
            }
            %>
            <div class="slider round"></div>
        </label>
    </span>
    <span class="float-right">
        <%
        if(prevAllComplete) {
            %>
            <h5 class="codingcoach-red" id="step3-text"><a href="/community/topic/override/<%- workspaceId %>/<%- topicEnrollment.topic.topicId %>/3">Resources</a></h5>
            <%
        }
        else {
            %>
            <h5 class="codingcoach-red" id="step3-text">Resources</h5>
            <%
        }
        prevAllComplete = allComplete;
        %>
    </span>
</div>

<%
if( topicEnrollment.topic.hasActivity ) {
    %>
    <div class="grouping" id="step4">
        <span class="float-left">
            <label class="switch">
                <%
                if(topicEnrollment.completedActivityId > 0) {
                    %>
                    <input type="checkbox" id="togBtn" checked disabled>
                    <%
                }
                else if(topicEnrollment.isCompleted) {
                    %>
                    <input type="checkbox" id="togBtn" checked disabled>
                    <%
                }
                else {
                    allComplete = false;
                    %>
                    <input type="checkbox" id="togBtn" disabled>
                    <%
                }
                %>
                <div class="slider round"></div>
            </label>
        </span>
        <span class="float-right">
            <%
            if(prevAllComplete) {
                %>
                <h5 class="codingcoach-red" id="step4-text"><a href="/community/topic/override/<%- workspaceId %>/<%- topicEnrollment.topic.topicId %>/4">Activity</a></h5>
                <%
            }
            else {
                %>
                <h5 class="codingcoach-red" id="step4-text">Activity</h5>
                <%
            }
            prevAllComplete = allComplete;
            %>
        </span>
    </div>
    <%
}
%>

<div class="grouping" id="step5">
    <span class="float-left">
        <label class="switch">
            <%
            if(topicEnrollment.postCompletedAssessmentId > 0) {
                %>
                <input type="checkbox" id="togBtn" checked disabled>
                <%
            }
            else if(topicEnrollment.isCompleted) {
                %>
                <input type="checkbox" id="togBtn" checked disabled>
                <%
            }
            else {
                allComplete = false;
                %>
                <input type="checkbox" id="togBtn" disabled>
                <%
            }
            %>
            <div class="slider round"></div>
        </label>
    </span>
    <span class="float-right">
        <%
        if(prevAllComplete) {
            %>
            <h5 class="codingcoach-red" id="step5-text"><a href="/community/topic/override/<%- workspaceId %>/<%- topicEnrollment.topic.topicId %>/5">Post-Assessment</a></h5>
            <%
        }
        else {
            %>
            <h5 class="codingcoach-red" id="step5-text">Post-Assessment</h5>
            <%
        }
        prevAllComplete = allComplete;
        %>
    </span>
</div>
<div class="grouping" id="step6">
    <span class="float-left">
        
    </span>
    <span class="float-right">
        <h5 class="codingcoach-red" id="step6-text"><a href="/community/topic/override/<%- workspaceId %>/<%- topicEnrollment.topic.topicId %>/6">Summary</a></h5>
    </span>
</div>

