<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
            <%- include('./partials/adminMenu'); %> 
        </nav>

        <!-- About Section-->
       
        <section class="page-section-top-padded mb-0" id="about">
            <div class="container navbar-interior font-weight-bold text-primary">
                
                <%- include('../partials/welcome'); %>
            </div>

            <div class="container">
                
                <h3 class="text-secondary">Resources</h3>
                
                <div class="divider-custom">
                </div>

                
                <div class="text-left mt-4">
                    <div id="story1" class="row justify-content-left">

                        <div class="col-lg-3">
                            <a class="btn btn-primary" href="/a/resource/0" >Create a Resource</a>
                            <hr />
                            <h4 class="text-secondary">Your Resources:</h4>
                            
                            <%
                            if(ownerResources && ownerResources.length > 0) {
                                for(let i=0; i < ownerResources.length; i++) {
                                %>
                                    <a class="text-primary" href="/a/resource/<%- ownerResources[i].id %>" ><%- ownerResources[i].resourceName %></a>
                                    <br />
                                <%
                                }
                            }

                            %>
                            
                        </div>
                        <div class="col-lg-9">
                            
                            
                            <section>

                                <h4 class="text-secondary">Resource</h4>

                                <% if(!!locals.message){ %>
                                    <div class="alert-message alert-message-warning" role="alert">
                                        <h3 ><%= message %></h3>
                                        <p><%= message2 %></p>
                                    </div>
                                <% } 
                                
                                if(resource) {
                                    %>
                                    <form action="/a/resource" enctype="multipart/form-data" method="POST" id='creatorResourceForm'>
                                        <div class="form-group">
                                            <input type="hidden" name="resourceId" value="<%- resource.id %>" />
                                            <select name="resourceType" id="resourceType" class="form-control form-control-lg">
                                                <%
                                                if(resource.resourceType === 1) {
                                                    %>
                                                    <option value="1" selected>HTML</option>
                                                    <%
                                                }
                                                else {
                                                    %>
                                                    <option value="1">HTML</option>
                                                    <%
                                                }
                                                %>
                                                <%
                                                if(resource.resourceType === 2) {
                                                    %>
                                                    <option value="2" selected>Link</option>
                                                    <%
                                                }
                                                else {
                                                    %>
                                                    <option value="2">Link</option>
                                                    <%
                                                }
                                                %>
                                                <%
                                                if(resource.resourceType === 3) {
                                                    %>
                                                    <option value="3" selected>Resource File</option>
                                                    <%
                                                }
                                                else {
                                                    %>
                                                    <option value="3">Resource File</option>
                                                    <%
                                                }
                                                %>
                                                <%
                                                if(resource.resourceType === 4) {
                                                    %>
                                                    <option value="4" selected>Google Slides</option>
                                                    <%
                                                }
                                                else {
                                                    %>
                                                    <option value="4">HTML</option>
                                                    <%
                                                }
                                                %>
                                            </select>
                                            Name: <input type="input" class="form-control form-control-lg" name="resourceName" value="<%- resource.resourceName %>" id="resourceName" placeholder="Name" required>
                                            Desciption: <input type="input" class="form-control form-control-lg" name="resourceDescription" value="<%- resource.resourceDescription %>" id="resourceDescription" placeholder="Description">
                                            Image: <img class="img-supersmall" src="<%- resource.resourceImage %>" />
                                            <div class="mb-2">
                                                <label for="formFile" class="form-label">Upload an image for this resource (1MB Max size)</label>
                                                <input class="form-control btn-secondary" accept="image/jpeg,image/jpg,image/png" type="file" id="formFile" value="<%- resource.resourceImage %>" name="resourceImage">
                                            </div>
                                            Resource Content HTML: <div id="quill_editor"><%- resource.resourceContentHtml %></div>
                                            <input type="hidden" id="quill_html" name="submission_text" value=""></input>
                                            Resource Link: <input type="input" class="form-control form-control-lg" name="resourceLink" value="<%- resource.resourceLink %>" id="resourceLink" placeholder="Link">
                                            Required? <input type="checkbox" class="" id="isRequired" name="isRequired" <%- (resource.isRequired)?'checked':'' %> />
                                            Active: <input type="checkbox" class="" id="resourceActive" name="resourceActive" <%- (resource.active)?'checked':'' %> />
                                            
                                            
                                        </div>
                                        <button type="submit" id="resourceButton" class="btn btn-primary btn-lg btn-block">Save Information</button>
                                        <br />
                                    </form>
                                    <%
                                }
                                %>

                                


                            </section>

                        </div>
                        
                    </div>
                </div>
            </div>



        </section>

        <!-- Footer-->
        <footer class="footer text-center">
            <%- include('../partials/footer'); %>
        </footer>
        <!-- Copyright Section-->
        <div class="copyright py-4 text-center text-white">
            <%- include('../partials/copyright'); %>
        </div>
        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
        <div class="scroll-to-top d-lg-none position-fixed">
            <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a>
        </div>
        <%- include('../partials/jsincludes'); %>
    </body>
</html>