<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body id="page-top" class="dashboard-content">
    <%- include('../partials/head.ejs'); %>
    <!-- Gallery View-->
    <%- include('./side-menu/side-menu.ejs'); %> <%-
    include('./partials/gallery/note-gallery.ejs') %>
    <!-- Legacy About Section-->
    <section class="page-section-top-padded mb-0" id="about">
      <div class="container navbar-interior font-weight-bold text-primary">
        <%- include('../partials/message'); %> <%-
        include('../partials/community-menu'); %> <%-
        include('../partials/welcome'); %>
      </div>

      <div class="container">
        <div class="divider-custom"></div>

        <div class="row"><%- include('./partials/filterControl') %></div>
        <div class="row">
          <div class="col-lg-2"><%- include('./partials/goals'); %></div>
          <div class="col-lg-2"><%- include('./partials/topics'); %></div>
          <div class="col-lg-4"><%- include( './partials/resources' ) %></div>
          <div class="col-lg-4">
            <h2 class="text-secondary">Suggestions</h2>
          </div>
        </div>

        <div class="text-left mt-4">
          <div id="story1" class="row justify-content-left"></div>
        </div>
      </div>
    </section>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->

    <%- include('../partials/jsincludes'); %>
  </body>
</html>
