<div class="modal fade" id="create-topic-modal" tabindex="-1" role="dialog" aria-labelledby="create-topic-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="create-topic-modal-label">Create a new topic:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            
            <section>

                <h4 class="text-secondary">Edit topic</h4>

                <% if(!!locals.message){ %>
                    <div class="alert-message alert-message-warning" role="alert">
                        <h3 ><%= message %></h3>
                        <p><%= message2 %></p>
                    </div>
                <% } 
                
                if(topic) {
                    %>
                    <form action="/dashboard" id="creatorTopicForm" enctype="multipart/form-data" method="POST">
                        <div class="form-group">
                            <!-- topic visibility radio group -->
                            <input type="hidden" name="topicId" id="topicId" value="<%- topic.id %>" />
                            <fieldset class="form-group row">
                                <legend class="col-form-legend col-sm-2">Visibility</legend>
                                <div class="col-sm-10 form-check">
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="radio-inline" name="topicVisibility" value="0" id="topicVisibilityPrivate" />
                                        <label class="form-check-label" for="inlineRadio1">Private</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="radio-inline" name="topicVisibility" value="1" id="topicVisibilityShared" />
                                        <label class="form-check-label" for="inlineRadio2">Shared</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="radio-inline" name="topicVisibility" value="2" id="topicVisibilityPublic" checked />
                                        <label class="form-check-label" for="inlineRadio3">Public</label>
                                    </div>
                                </div>
                                
                            </fieldset>

                            <!-- Topic Type radio group -->
                            <fieldset class="form-group row">
                                <legend class="col-form-legend col-sm-2">Type</legend>
                                <div class="col-sm-10 form-check">
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="radio-inline" name="topicType" value="0" id="topicTypeResearch" checked />
                                        <label class="form-check-label" for="topicTypeResearch">Research</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="radio-inline" name="topicType" value="1" id="topicTypeEducational" />
                                        <label class="form-check-label" for="topicTypeEducational">Educational</label>
                                    </div>
                                </div>
                                
                            </fieldset>

                            Name: <input type="input" class="form-control form-control-lg" name="topicName" value="<%- topic.topicName %>" id="topicName" placeholder="Name" required>
                            Desciption: <input type="input" class="form-control form-control-lg" name="topicDescription" value="<%- topic.topicDescription %>" id="topicDescription" placeholder="Description">
                            <%
                            if( topic.topicImage ) {
                                %>
                                Image: <img class="img-supersmall" src="<%= process.env.TOPIC_IMAGE_WEB_PATH %><%- topic.topicImage %>" id="topicImage" />
                                <%
                            }
                            else {
                                %>
                                Image: <img class="img-supersmall" src="data:," alt="Upload an Image" id="topicImage" />
                                <%
                            }
                            %>
                            
                            <div class="mb-2">
                                <label for="formFile" class="form-label">Upload an image for this topic (1MB Max size)</label>
                                <input class="form-control btn-secondary" accept="image/jpeg,image/jpg,image/png" type="file" id="formFile" value="<%- topic.topicImage %>" name="topicImage">
                            </div>

                            Topic HTML: <div id="quill_editor_topic"><%- topic.topicHtml %></div>
                            <input type="hidden" id="quill_html_topic" name="submission_text" value=""></input>

                            Active: <input type="checkbox" class="" id="topicActive" name="topicActive" <%- (topic.active)?'checked':'' %> /><br />
                            Completable: <input type="checkbox" class="" id="topicCompletable" name="topicCompletable" <%- (topic.completable)?'checked':'' %> />
                            <br />
                            <br />
                            
                            



                            <div class="accordion-body">
                                <div class="accordion">
                                    <div class="accordion-container">
                                        <div class="accordion-label">Resources</div>
                                        <div class="content"><%- include('./edit-topic-resources') %></div>
                                    </div>
                                    <hr />
                                    <div id="acivity-accordion-group" style="display: none;">
                                    <div class="accordion-container">
                                        <div class="accordion-label" id="activity-accordion">Include Activity for this Topic? <input type="checkbox" id="topicHasActivity" name="topicHasActivity" <%- (topic.hasActivity)?'checked':'' %> /></div>
                                        <div class="content"><%- include('./edit-topic-activity') %></div>
                                    </div>
                                    <hr />
                                    </div>
                                    <div id="assessment-accordion-group" style="display: none;">
                                    <div class="accordion-container">
                                        <div class="accordion-label" id="assessment-accordion">Include Assessment for this Topic? <input type="checkbox" id="topicHasAssessment" name="topicHasAssessment" <%- (topic.hasAssessment)?'checked':'' %> /></div>
                                        <div class="content"><%- include('./edit-topic-assessment') %></div>
                                    </div>
                                    <hr />
                                    </div>
                                </div>
                            </div>




                        </div>
                        <button type="submit" id="topicButton" class="btn btn-primary btn-lg btn-block">Save Topic</button>
                    </form>
                    <%
                }
                
                %>

            </section>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
</div>