<%
let availableCount = 0;
if(availableWorkspaces) {
    for(let i=0; i<availableWorkspaces.length; i++) {
        let enrolled = (user.enrollments) ? user.enrollments.filter(enrollment => enrollment.workspace.workspaceId == availableWorkspaces[i].id && enrollment.isCompleted == false).length > 0 : false;
        let completed = (user.enrollments) ? user.enrollments.filter(enrollment => enrollment.workspace.workspaceId == availableWorkspaces[i].id && enrollment.isCompleted == true).length > 0 : false;
    
        if(!enrolled && !completed) {
            availableCount++;
            %>
            <a class="card" style="width: 100%;" name="unenrolled_card" href="/community/workspace/enroll/<%- availableWorkspaces[i].id %>" id="workspace_<%- availableWorkspaces[i].id %>">
                <div class="card-body">
                    <img class="product-img-overlay" src="<%= process.env.WORKSPACE_IMAGE_WEB_PATH%><%- availableWorkspaces[i].workspaceImage %>" alt="Card image cap">
                    <div class="card-body product-card-text-raised">
                        <h6><input type=button class="btn-secondary btn-block" value="<%- availableWorkspaces[i].workspaceName %>" /></h6>
                        <p class="card-text"><%- availableWorkspaces[i].workspaceDescription %></p>
                        
                        <%
                        if(availableWorkspaces[i].topics.length > 0) {
                        %>
                            <h6>Topics Include:</h6>
                            <div id="accordion">
                                <%
                                let limit = (availableWorkspaces[i].topics.length < 4) ? availableWorkspaces[i].topics.length : 4;
                                for(let j=0; j < limit; j++) {
                                    if(j < 3) {
                                        %>
                                        <div class="card">
                                            <div class="card-header" id="headingOne">
                                                <h5 class="mb-0">
                                                    <button class="btn" aria-expanded="false" aria-controls="collapseOne">
                                                    <img class="img-supersmall" src="<%= process.env.TOPIC_IMAGE_WEB_PATH%><%- availableWorkspaces[i].topics[j].topicImage %>" />
                                                    <%- availableWorkspaces[i].topics[j].topicName %>
                                                </button>
                                                </h5>
                                            </div>
                                        </div>
                                        <%
                                    } 
                                    else {
                                        %>
                                        <div class="card">
                                            <div class="card-header" id="headingOne">
                                                <h5 class="mb-0">
                                                <button class="btn" aria-expanded="false" aria-controls="collapseOne">
                                                    ... And more!
                                                </button>
                                                </h5>
                                            </div>
                                        </div>
                                        <%
                                    }
                                
                                }
                                %>
                                
                            </div>
                        <%
                        }   
                        %>
                    </div>
                </div>
                <div class="card-hover">
                    <div class="card-hover-text">Enroll</div>
                </div>
            </a> 
            <%
        }
        else {
            console.log();
        }
    
    
    }
    if(availableCount === 0 && availableWorkspaces.length !== 0) {
        %> 
        <div class="card" style="width: 100%;">
            
            <div class="card-body product-card-text-raised">
                <h5 class="card-title">Good Job! You have enrolled in all availble Workspaces!</h5>
                <p>Now get to work! :)</p>
            </div>
        </div> 
        <%
    }
    
    if(availableWorkspaces.length === 0) {
        %> 
        <div class="card" style="width: 100%;">
            
            <div class="card-body product-card-text-raised">
                <h5 class="card-title">Nothing Yet!</h5>
            </div>
        </div> 
        <%
    }
}


%>

