<% 
let enrolledFlag = false;
if(user.enrollments) {
    for(let i=0; i<user.enrollments.length; i++) {
        if(!user.enrollments[i].isCompleted && user.enrollments[i].workspace.active) {
            enrolledFlag = true;
            %>
            <a class="card" style="width: 100%;" href="/community/workspace/<%- user.enrollments[i].workspace.workspaceId %>" id="topic_<%- user.enrollments[i].workspace.workspaceId %>">
                <div class="card-body-low-padding" name="enrolled_card">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                            <button class="btn" aria-expanded="false" aria-controls="collapseOne">
                                <img class="img-supersmall" src="<%= process.env.WORKSPACE_IMAGE_WEB_PATH%><%- user.enrollments[i].workspace.workspaceImage %>" />
                                <%- user.enrollments[i].workspace.workspaceName %>
                            </button>
                            </h5>
                        </div>
                    
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <%- user.enrollments[i].workspace.workspaceDescription %>
                            </div>
                        </div>
                    </div>
                </div>
            </a> 
            <%
        }   
    }
}
if(!enrolledFlag) {
    %> 
    <div class="card" style="width: 100%;">
        <div class="card-body product-card-text-raised">
            <h5 class="card-title">You have not yet Enrolled in any workspaces!</h5>
        </div>
    </div> 
    <%
}
%>