<h4>Here is your topic summary</h4>
<br />
<div class="results-left">
    <h5 class="text-secondary">Your Pre Assessment Answers:</h5>
    <%
    let preTotalQuestions = 0;
    let preTotalCorrect = 0;
    
    let postTotalQuestions = 0;
    let postTotalCorrect = 0;

    let postPercentCorrect = 0.0;
    
    if( topicEnrollment && topicEnrollment.preAssessment && topicEnrollment.preAssessment.assessment && topicEnrollment.preAssessment.assessment.questions ) {
    
        for( let i=0; i < topicEnrollment.preAssessment.assessment.questions.length; i++ ) {
            preTotalQuestions++;
            %>
            <div class="assessment-question">
                <h6><%- topicEnrollment.preAssessment.assessment.questions[ i ].question %></h6>
                <%
                // get the matching completedQuestion
                let completedQuestion = null;
                if( topicEnrollment.preAssessment && topicEnrollment.preAssessment.completedQuestions ) {
                    for( k=0; k < topicEnrollment.preAssessment.completedQuestions.length; k++ ) {
                        if( topicEnrollment.preAssessment.assessmentId == topicEnrollment.preAssessment.assessment.assessmentId && topicEnrollment.preAssessment.completedQuestions[ k ].assessmentQuestionId == topicEnrollment.preAssessment.assessment.questions[ i ].id ) {
                            completedQuestion = topicEnrollment.preAssessment.completedQuestions[ k ];
                        }
                    }
                }
    
                // iterate through the options mark the chosen one using the completedQuestion data
                for( let j=0; j < topicEnrollment.preAssessment.assessment.questions[ i ].options.length; j++ ) {
                    let correctFlag = false;
                    if(topicEnrollment.preAssessment.assessment.questions[ i ].correctOptionId == topicEnrollment.preAssessment.assessment.questions[ i ].options[ j ].id) {
                        correctFlag = true;
                    }
                    if(completedQuestion && topicEnrollment.preAssessment.assessment.questions[ i ].options[ j ].id == completedQuestion.assessmentQuestionOptionId) {
                        // user chose this option
                        if(correctFlag) {
                            preTotalCorrect++;
                        }
                        %>
                        <div class="<%- (!!correctFlag)?'correct-background':'incorrect-background' %>">
                            <input type="radio" id="pre_option-id-<%- topicEnrollment.preAssessment.assessment.questions[i].options[j].id %>" name="pre_question-id-<%- topicEnrollment.preAssessment.assessment.questions[i].id %>" value="<%- topicEnrollment.preAssessment.assessment.questions[i].options[j].id %>" checked>
                            <label for="dewey"><%- topicEnrollment.preAssessment.assessment.questions[ i ].options[ j ].optionAnswer %></label>
                        </div>
                        <%
                    }   
                    else {
                        %>
                        <div class="<%- (!!correctFlag)?'correct-background':'' %>">
                            <input type="radio" id="pre_option-id-<%- topicEnrollment.preAssessment.assessment.questions[i].options[j].id %>" name="pre_question-id-<%- topicEnrollment.preAssessment.assessment.questions[i].id %>" value="<%- topicEnrollment.preAssessment.assessment.questions[i].options[j].id %>">
                            <label for="dewey"><%- topicEnrollment.preAssessment.assessment.questions[ i ].options[ j ].optionAnswer %></label>
                        </div>
                        <%
                    }             
    
                    
                }
                %>
            </div>
            <hr />
            <%
            
        }
        %>
        <div>
            <h6>Total Questions: <%- preTotalQuestions %> - Total correct: <%- preTotalCorrect %> - Percent Correct: <%- ( ( preTotalQuestions > 0 ) ? ( preTotalCorrect / preTotalQuestions ) * 100:0 ).toFixed( 1 ) %>%</h6>
        </div>
        <%
    }
    else {
        // data missing?
        %>
        <p>Something went wrong displaying the assessment</p>
        <%
    }
    %>
</div>

<div class="results-right">
    <h5 class="text-secondary">Your Post Assessment Answers:</h5>
    <%
    if( topicEnrollment && topicEnrollment.postAssessment && topicEnrollment.postAssessment.assessment && topicEnrollment.postAssessment.assessment.questions ) {

        for( let i=0; i < topicEnrollment.postAssessment.assessment.questions.length; i++ ) {
            postTotalQuestions++;
            %>
            <div class="assessment-question">
                <h6><%- topicEnrollment.postAssessment.assessment.questions[ i ].question %></h6>
                <%
                // get the matching completedQuestion
                let completedQuestion = null;
                if( topicEnrollment.postAssessment && topicEnrollment.postAssessment.completedQuestions ) {
                    for( k=0; k < topicEnrollment.postAssessment.completedQuestions.length; k++ ) {
                        if( topicEnrollment.postAssessment.assessmentId == topicEnrollment.postAssessment.assessment.assessmentId && topicEnrollment.postAssessment.completedQuestions[ k ].assessmentQuestionId == topicEnrollment.postAssessment.assessment.questions[ i ].id ) {
                            completedQuestion = topicEnrollment.postAssessment.completedQuestions[ k ];
                        }
                    }
                }

                // iterate through the options mark the chosen one using the completedQuestion data
                for( let j=0; j < topicEnrollment.postAssessment.assessment.questions[i].options.length; j++ ) {
                    let correctFlag = false;
                    if( topicEnrollment.postAssessment.assessment.questions[ i ].correctOptionId == topicEnrollment.postAssessment.assessment.questions[ i ].options[ j ].id ) {
                        correctFlag = true;
                    }
                    if( completedQuestion && topicEnrollment.postAssessment.assessment.questions[ i ].options[ j ].id == completedQuestion.assessmentQuestionOptionId ) {
                        // user chose this option
                        if( correctFlag ) {
                            postTotalCorrect++;
                        }
                        %>
                        <div class="<%- (!!correctFlag)?'correct-background':'incorrect-background' %>">
                            <input type="radio" id="post_option-id-<%- topicEnrollment.postAssessment.assessment.questions[i].options[j].id %>" name="post_question-id-<%- topicEnrollment.postAssessment.assessment.questions[i].id %>" value="<%- topicEnrollment.postAssessment.assessment.questions[i].options[j].id %>" checked>
                            <label for="dewey"><%- topicEnrollment.postAssessment.assessment.questions[ i ].options[ j ].optionAnswer %></label>
                        </div>
                        <%
                    }   
                    else {
                        %>
                        <div class="<%- (!!correctFlag)?'correct-background':'' %>">
                            <input type="radio" id="post_option-id-<%- topicEnrollment.postAssessment.assessment.questions[i].options[j].id %>" name="post_question-id-<%- topicEnrollment.postAssessment.assessment.questions[i].id %>" value="<%- topicEnrollment.postAssessment.assessment.questions[i].options[j].id %>">
                            <label for="dewey"><%- topicEnrollment.postAssessment.assessment.questions[ i ].options[ j ].optionAnswer %></label>
                        </div>
                        <%
                    }             

                    
                }
                %>
            </div>
            <hr />
            <%
            
        }
        postPercentCorrect = ( ( postTotalQuestions > 0 ) ? ( postTotalCorrect / postTotalQuestions ) * 100:0 ).toFixed( 1 );
        %>
        <div>
            <h6>Total Questions: <%- postTotalQuestions %> - Total correct: <%- postTotalCorrect %> - Percent Correct: <%- postPercentCorrect %>%</h6>
        </div>

        <br />
        <%
    }
    else if( topicEnrollment.isCompleted ) {
        %>
        <div class="alert-message alert-message-success" role="alert">
            <h3>Post Assessment Not Taken</h3>
            <p>Your pre-assessment showed you understood this topic. You may browse the resources and activity if you wish</p>
        </div>

        <br />
        <%    
    }
    else {
        // data missing?
        %>
        <p>Something went wrong displaying the assessment</p>
        <%
    }

    %>
</div>




<br />
<%
if(topicEnrollment.postAssessment) {
    // check to see if the user exceeded the threshold to move on from the topic
    //console.log("postPercentCorrect: " + postPercentCorrect + " and topicEnrollment.postAssessment.assessment.postThreshold: " + topicEnrollment.postAssessment.assessment.postThreshold);
    if(postPercentCorrect < topicEnrollment.postAssessment.assessment.postThreshold) {
        // user did not meet the threshold
        %>
        <div style="float:left;">
            <h5>You did not reach the threshold (<%- topicEnrollment.postAssessment.assessment.postThreshold %>%) for completing this topic. Please review and re-take the post-assessment!</h5>
            <button type="submit" onclick="window.location.href = '/community/topic/reset';" class="btn btn-primary" id="resource_submit">Return</button>
            <br />
            <br />
        </div>
        
        <%
    }
    else {
        %>
        <div style="float:left;">
        <%
        if(postTotalCorrect > preTotalCorrect) {
            %>
            <h5>Congratulations! You have successfully completed this topic and are ready to move on! You also achieved a better score on your post-assessment than on your pre-assessment. Your score improved by <%- ((postTotalQuestions > 0)?( ( postTotalCorrect - preTotalCorrect) / postTotalQuestions)*100:0).toFixed(1) %>%</h5>    
            <%
        }
        else if(postTotalCorrect < preTotalCorrect) {
            %>
            <h5>Congratulations! You have successfully completed this topic and are ready to move on! You did however miss more questions on the post-assessement then the pre-assessment. Make sure to review any related content.</h5>    
            <%
        }
        else {
            %>
            <h5>Congratulations! You have successfully completed this topic and are ready to move on! Your scores on the pre-assessment and the post-assessment were the same.</h5>    
            <%
        }

        %>
            <a class="btn-lg btn-primary" href="/community/topic/update/6">Back to Workspace</a>
            <br />
            <br />
        </div>
        <%
    }
    
}
else {
    // user tested out
    %>
    <div style="float:left;">
    <h5>Congratulations! You have successfully completed this topic and are ready to move on! </h5>    
    <a class="btn-lg btn-primary" href="/community/topic/update/6">Back to Workspace</a>
    <br />
    <br />
    </div>
    <%
}

%>
