<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
        <%- include('./partials/topmenu'); %>
    </nav>


    <!-- Page Content -->
    <section class="page-section page-section-top-padded mb-0" id="about">
        <div class="container">
            <!-- About Section Heading-->
            <div class="divider-custom">
                <div class="divider-custom-line divider-bg-color"></div>
                <div class="divider-custom-icon"><i class="fas fa-school divider-color"></i></div>
                <div class="divider-custom-line divider-bg-color"></div>
            </div>

            <!-- About Section Content-->
            <!--
                <div class="row">
                    <div class="col-lg-4 ml-auto"><p class="lead">About the site</p></div>
                    <div class="col-lg-4 mr-auto"><p class="lead">About me</p></div>
                </div>
                -->
            <!-- About Section Button-->
            <div class="text-left mt-4 main-content">
                <div id="story1" class="row justify-content-left">
                    <div class="col-lg-7 order-lg-1">
                        <h2>Agora</h2>
                        <p class="text-primary"><strong>Hello 👋 and thanks for stopping by!</strong></p>
                        <p>Learning is at our core, we do it everyday. The artifacts of what we learn, our notes,
                            papers, links we find, videos we watch, blogs we read, spreadsheets, test results,
                            assignments, books, and our lifetime of interactions with teachers and mentors are spread
                            across the physical and digital world.</p>
                        <p>When we graduate, finish an online course, complete a training seminar, attend a conference
                            or even just switch to a new method of managing our notes and documents we lose something,
                            pieces of our hard work scattered, unorganized, out of reach and eventually lost. Often
                            years later we find ourselves frustrated and retracing our steps though a past learning or
                            research journey only to realize a crucial piece cannot be located or reconstructed. </p>
                        <p>Agora is an open, collaborative and forever free environment where we can conduct our
                            learning, research our ideas, and remember all the lessons we learn, forever. An environment
                            that is not owned by an academic institution or corporation but by everyone. Guided only by
                            virtue and principles. </p>
                        <p>We at Agora believe that cloud based user centric learning and research platform is long
                            overdue. This platform's main workspace is to provide a robust platform built around the
                            individual and their data. Data you add to the system will always remain yours, never
                            marketed or sold. We at agora believe a better future is one in which data ownership is your
                            protected right. We believe that the only way this can happen successfully is if
                            not-for-profit public service based institutions are custodians. Funding to these
                            institutions can not come with strings attached.</p>
                        <p>In addition to making the user the owner of their data, the platform should include the best
                            new approaches to online pedagogy, collaboration and sharing of resources. Agora strives to
                            become the ultimate friend of any student, teacher or researcher by helping them find the
                            resources, connections and lessons they need as they are working.</p>
                        <p>Agora is a single, open, collaborative and forever free environment where we can conduct our
                            learning, research our ideas, and remember all the lessons we learn, forever. An environment
                            that is not owned by an academic institution or corporation but by everyone. Guided only by
                            virtue and principles:</p>
                        <p>The perfect learning platform:</p>
                        <ul>
                            <li>Is accessible: Free and open source and will remain so forever.</li>
                            <li>User, not institution centric: Lifelong learners require a lifelong system that follows
                                them.</li>
                            <li>Is flexible: So different types of learners can work however they do best</li>
                            <li>Is social: Opening a safe central hub of learning means collaboration and sharing of
                                information can be easier than ever.</li>
                            <li>Is safe: Your data will never be used against you, only for you. it will not be sold or
                                used for marketing and is only seen by people you authorize.</li>
                            <li>Is smart: It is intuitive to use and can suggest helpful resources getting you closer to
                                the answers you seek</li>
                            <li>Listens: To its users, remaining a force for good.</li>
                        </ul>
                        <p>Be a part of the change, own your own data for life, starting today!</p>

                        <p>To join, <a href="/dashboard">create an account</a> and explore free resources and get
                            acquainted with our community. We look forward to seeing you! Please understand that this
                            community is currently brand new and growing. There will be plenty of dust around this
                            construction site, please pardon it!</p>

                    </div>
                    <div class="col-lg-5 order-lg-2">
                        <div class="card" class="product-card">
                            <a class="product-card" href="/dashboard">
                                <img class="product-img-overlay" src="/assets/img/logos/agora-title.png"
                                    alt="Sign up today">
                                <div class="card-body product-card-text-raised">
                                    <h5 class="card-title text-secondary">Join our community</h5>
                                    <p class="card-text"><strong><br />Creating an account is quick and we always keep your
                                            information private.</strong></p><br />

                                </div>
                            </a>
                        </div>
                        <img src="/assets/img/logos/agora-logo-2023-800.png" class="website-image website-image-95" />

                    </div>
                </div>

                <div class="divider-custom">
                    <div class="divider-custom-line divider-bg-color"></div>
                    <div class="divider-custom-icon"><i class="fas fa-user-secret divider-color"></i></div>
                    <div class="divider-custom-line divider-bg-color"></div>
                </div>
                <div id="story2" class="row justify-content-left">
                    <div class="col-lg-8 order-lg-4">
                        <h2>About the Founder</h2>
                        <p>My name is Brian Gormanly, I am an educator, researcher, computer scientist, and an open
                            source practitioner. I am just another computer scientist working hard to make a significant
                            contribution to the world while doing what I love.</p>
                        <p>I am a passionate advocate for a return to a more decentralized World Wide Web, individual
                            data rights, and creating educational opportunities for all looking to learn. As an
                            individual whose life has been transformed by my own education, there is no higher calling
                            for me than providing every opportunity I can to others.</p>
                        <p><a href="https://www.linkedin.com/in/gormanly/">Connect with me on LinkedIn</a></p>
                    </div>
                    <div class="col-lg-4 order-lg-3">
                        <img src="/assets/img/about/brian-gormanly.jpg" class="website-image website-image-95" />
                    </div>

                </div>
                <div class="divider-custom">
                    <div class="divider-custom-line divider-bg-color"></div>
                    <div class="divider-custom-icon"><i class="fas fa-user-secret divider-color"></i></div>
                    <div class="divider-custom-line divider-bg-color"></div>
                </div>
                <div id="story2" class="">
                    <div class="col-lg-8 order-lg-4">
                        <h2>About the Team</h2>
                        <p>Agora was crafted by class of 2023 students at Marist college for their Computer Science
                            Capstone Experience. Agora as it is now would not be here without their contributions. They
                            are all great passionate developers to work with and we are really proud of the Agora we all
                            made together. </p>
                        <p>You can find a list of contributors on the 
                            <a href="https://github.com/briangormanly/agora/graphs/contributors" target="_blank">Agora project page</a>
                        </p>

                    </div>

                </div>

            </div>
        </div>
    </section>

    <!-- Footer-->
    <%- include('./partials/footer'); %>
    <!-- Copyright Section-->
    <%- include('./partials/copyright'); %>
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
    <div class="scroll-to-top d-lg-none position-fixed">
        <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i
                class="fa fa-chevron-up"></i></a>
    </div>


    <%- include('./partials/jsincludes'); %>
</body>

</html>