<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head'); %>
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
            <%- include('./partials/topmenu'); %>
        </nav>
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <!-- <img class="masthead-avatar mb-5" src="assets/img/avataaars.svg" alt="" /> -->
                <img class="masthead-avatar mb-5" src="/assets/img/logos/agora-logo-a-bw-400.png" alt="" />
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0 agora-font-large">Agora</h1>
                <!-- Icon Divider-->
                <p>&nbsp;</p>
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0 agora-font">“We should not trust the masses that say only the free can be educated, but rather the lovers of wisdom that say only the educated can be free”.  - Epictetus</p>
            </div>
        </header>
        <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="text-center text-uppercase text-secondary mb-0">Learn Computer Science Topics</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line cherry-red-bg-color"></div>
                    <div class="divider-custom-icon"><i class="fas fa-tv cherry-red-color"></i></div>
                    <div class="divider-custom-line cherry-red-bg-color"></div>
                </div>
                <!-- Portfolio Grid Items-->
                <div class="row justify-content-center">
                    <!-- Portfolio Item 1-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-arrow-alt-circle-up fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="/assets/img/video_thumbnails/robotics-programming-series.png" alt="" />
                        </div>
                    </div>
                    <!-- Portfolio Item 2-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-arrow-alt-circle-up fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="/assets/img/video_thumbnails/intro-to-computer-science.jpg" alt="" />
                        </div>
                    </div>
                    <!-- Portfolio Item 3-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-arrow-alt-circle-up fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="/assets/img/video_thumbnails/m1-news-events.jpg" alt="" />
                        </div>
                    </div>
                    <!-- Portfolio Item 4-->
                    <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-arrow-alt-circle-up fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="/assets/img/video_thumbnails/lmc.jpg" alt="" />
                        </div>
                    </div>
                    <!-- Portfolio Item 5-->
                    <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-arrow-alt-circle-up fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="/assets/img/video_thumbnails/organization-and-architecture.jpg" alt="" />
                        </div>
                    </div>
                    <!-- Portfolio Item 6-->
                    <div class="col-md-6 col-lg-4">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-arrow-alt-circle-up fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="/assets/img/video_thumbnails/database.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="divider-custom">
                    <div class="divider-custom-line cherry-red-bg-color"></div>
                    <div class="divider-custom-icon"><i class="fas fa-code-branch cherry-red-color"></i></div>
                    <div class="divider-custom-line cherry-red-bg-color"></div>
                </div>
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0"><a href="/community">Create your account</a> and explore our online learning community!</h2>
                <!-- Icon Divider-->
                

            </div>
        </section>

        <!-- Footer-->
        <footer class="footer text-center">
            <%- include('./partials/footer'); %>
        </footer>
        <!-- Copyright Section-->
        <div class="copyright py-4 text-center text-white">
            <%- include('./partials/copyright'); %>
        </div>
        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
        <div class="scroll-to-top d-lg-none position-fixed">
            <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a>
        </div>
        <!-- Portfolio Modals-->
        <!-- Portfolio Modal 1-->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label">Robotics Programming Series</h2>
                                    <br /><a class="mb-5" href="https://www.youtube.com/channel/UC8fdekVhEilBTuBK322WjVw?sub_confirmation=1">
                                        <img class="nuge-forward yt-sub-sm" src="/assets/img/yt-subscribe.png" class="img-fluid" />
                                    </a>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-robot"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <a href="https://youtube.com/playlist?list=PL0_aoTs5sGaQFjNSnyjTT8aiXWuILTouE">
                                        <img class="img-fluid rounded mb-5" src="/assets/img/video_thumbnails/robotics-programming-series.png" alt="" />
                                    </a>
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-5 text-left">Throughout this series we will be introducing topics on building and programming an autonomous mobile robot!  You can follow along with each lab adding amazing new behaviors to you robot projects and learning the algorithms and tuning techniques that produce incredible robots!</p>
                                    <p class="mb-5 text-left">There are many different robots you can use, but I will be using an Arduino based Pololu 3pi+ which you can purchase and use follow along.</p>
                                    <h3>Episodes:</h3>
                                    <div class="video-group rounded mb-5 text-left">
                                        <h5 class="text-left">Episode 1: Building an Autonomous Mobile Robot</h5>
                                        <iframe class="video-iframe" type="text/html" src="https://www.youtube.com/embed/96FuKrPOUOo" frameborder="0"></iframe>
                                    </div>
                                    <div class="video-group rounded mb-5 text-left">
                                        <h5 class="text-left">Episode 2: Ultrasonic Sensor / Object Following Behavior</h5>
                                        <iframe class="video-iframe" type="text/html" src="https://www.youtube.com/embed/JXIbxX-Wtgw" frameborder="0"></iframe>
                                    </div>
                                    <div class="video-group rounded mb-5 text-left">
                                        <h5 class="text-left">Bonus 1: Introducing Henry IX</h5>
                                        <iframe class="video-iframe" type="text/html" src="https://www.youtube.com/embed/dsZ4z8wyAjc" frameborder="0"></iframe>
                                    </div>
                                    <div class="video-group rounded mb-5 text-left">
                                        <h5 class="text-left">Episode 3: Servo Control</h5>
                                        <iframe class="video-iframe" type="text/html" src="https://www.youtube.com/embed/bJNAMnz-O8A" frameborder="0"></iframe>
                                    </div>
                                    <div class="video-group rounded mb-5 text-left">
                                        <h5 class="text-left">Episode 4: Servo and Ultrasonic Sensor Integration</h5>
                                        <iframe class="video-iframe" type="text/html" src="https://www.youtube.com/embed/lOTDSQua--s" frameborder="0"></iframe>
                                    </div>
                                    <div class="video-group rounded mb-5 text-left">
                                        <h5 class="text-left">Episode 5: PID the Complete Guide</h5>
                                        <iframe class="video-iframe" type="text/html" src="https://www.youtube.com/embed/dynSWBXu9aA" frameborder="0"></iframe>
                                    </div>

                                    <button class="btn btn-primary" data-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 2-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label">Introduction to Computer Science and Programming Series</h2>
                                    <br /><a class="mb-5" href="https://www.youtube.com/channel/UC8fdekVhEilBTuBK322WjVw?sub_confirmation=1">
                                        <img class="nuge-forward yt-sub-sm" src="/assets/img/yt-subscribe.png" class="img-fluid" />
                                    </a>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-file-code"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <a href="https://youtube.com/playlist?list=PL0_aoTs5sGaR1aRBvEPUTR0v0C0HzHFiy">
                                        <img class="img-fluid rounded mb-5" src="/assets/img/video_thumbnails/intro-to-computer-science.jpg" alt="" />
                                    </a>
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-5 text-left">Welcome to my introduction to Computer Science and programming series.  I have designed a course to introduce Computer Science theory and teach you how to code.  I am a Computer Science professor who started his own career as a self taught programmer.  I am passionate about finding the best ways to teach Computer Science and programming techniques online.  I am building this free course specifically for teaching over the internet!  This course will teach you the theory of Computer Science, prepare you to program in many programming languages, challenge you with projects and offer community to help you grow.</p>
                                    <h3>Episodes:</h3>
                                    <div class="video-group rounded mb-5 text-left">
                                        <h5 class="text-left">Episode 1: Introduction to Computer Science and Programming</h5>
                                        <iframe class="video-iframe" type="text/html" src="https://www.youtube.com/embed/TwiClHSgLiM" frameborder="0"></iframe>
                                    </div>

                                    <button class="btn btn-primary" data-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 3-->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label">Industry Trends and Discussion</h2>
                                    <br /><a class="mb-5" href="https://www.youtube.com/channel/UC8fdekVhEilBTuBK322WjVw?sub_confirmation=1">
                                        <img class="nuge-forward yt-sub-sm" src="/assets/img/yt-subscribe.png" class="img-fluid" />
                                    </a>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-industry"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <a href="https://youtube.com/playlist?list=PL0_aoTs5sGaQYenQDv7GpRd2RH5GoMWl6">
                                        <img class="img-fluid rounded mb-5" src="/assets/img/video_thumbnails/m1-news-events.jpg" alt="" />
                                    </a>
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-5 text-left">Videos that dive deep into industry trends, research and news.</p>
                                    <h3>Episodes:</h3>
                                    <div class="video-group rounded mb-5 text-left">
                                        <h5 class="text-left">Apple's M1 Processor: The Hardware Behind the Hype</h5>
                                        <iframe class="video-iframe" type="text/html" src="https://www.youtube.com/embed/NH9kwje2k8U" frameborder="0"></iframe>
                                    </div>

                                    <button class="btn btn-primary" data-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 4-->
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label">Little Man Computer (LMC) Series</h2>
                                    <br /><a class="mb-5" href="https://www.youtube.com/channel/UC8fdekVhEilBTuBK322WjVw?sub_confirmation=1">
                                        <img class="nuge-forward yt-sub-sm" src="/assets/img/yt-subscribe.png" class="img-fluid" />
                                    </a>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-bug"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <a href="https://youtube.com/playlist?list=PL0_aoTs5sGaRUsK_z3xe3_CjKtvRCD_HI">
                                        <img class="img-fluid rounded mb-5" src="/assets/img/video_thumbnails/lmc.jpg" alt="" />
                                    </a>
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-5 text-left">Little Man Computer is a way to explain how a computer works and how your program code (machine instructions) "tell" the hardware what to do.</p>
                                    <p class="mb-5 text-left">Little Man Computer is a thought experiment developed at MIT by Dr. Stuart Madnick that helps us understand the process that unfolds within the computer CPU or Central Processing Unit.</p>
                                    <h3>Episodes:</h3>
                                    <div class="video-group rounded mb-5 text-left">
                                        <h5 class="text-left">LMC Episode 1: How a Computer Works</h5>
                                        <iframe class="video-iframe" type="text/html" src="https://www.youtube.com/embed/4T60r42o9Wo" frameborder="0"></iframe>
                                    </div>
                                    <div class="video-group rounded mb-5 text-left">
                                        <h5 class="text-left">LMC Episode 2: Hello, World!</h5>
                                        <iframe class="video-iframe" type="text/html" src="https://www.youtube.com/embed/QneVgKf2eVg" frameborder="0"></iframe>
                                    </div>
                                    <div class="video-group rounded mb-5 text-left">
                                        <h5 class="text-left">LMC Episode 3: Branching, Compilation and Assembly</h5>
                                        <iframe class="video-iframe" type="text/html" src="https://www.youtube.com/embed/fXMCnzdNemc" frameborder="0"></iframe>
                                    </div>
                                    <div class="video-group rounded mb-5 text-left">
                                        <h5 class="text-left">LMC Episode 4: Iteration and Labels</h5>
                                        <iframe class="video-iframe" type="text/html" src="https://www.youtube.com/embed/hFg1etP_sFM" frameborder="0"></iframe>
                                    </div>

                                    <button class="btn btn-primary" data-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 5-->
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label">Computer Organization and Architecture</h2>
                                    <br /><a class="mb-5" href="https://www.youtube.com/channel/UC8fdekVhEilBTuBK322WjVw?sub_confirmation=1">
                                        <img class="nuge-forward yt-sub-sm" src="/assets/img/yt-subscribe.png" class="img-fluid" />
                                    </a>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-microchip"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <a href="https://youtube.com/playlist?list=PL0_aoTs5sGaTGNfHv4fzDChp_mEkVj-uU">
                                        <img class="img-fluid rounded mb-5" src="/assets/img/video_thumbnails/organization-and-architecture.jpg" alt="" />
                                    </a>
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-5 text-left">The course starts by examining core concepts in computer science such as abstraction, systems and Moore's law.  It then Computer Organization and Architecture is a deep dive into the computer and how it works.  Major topics coved include: Computer software, Computer hardware, number systems (Binary, Hexadecimal, Octal) Representing data in computer systems, Assembly programming, machine instructions, basic circuitry, common computer architectures such as x86 and Arm, Instruction Set Architecture, CPU organization and design, CPU Pipelining, Multiple execution units, memory, cache, I/O and more.</p>
                                    <h3>Episodes:</h3>
                                    <p class="mb-5 text-left">Here are some highlighted episodes, click on the playlist at the top to find the complete list</p>
                                    <div class="video-group rounded mb-5 text-left">
                                        <h5 class="text-left">What is a System?</h5>
                                        <iframe class="video-iframe" type="text/html" src="https://www.youtube.com/embed/6l1bhm1xtbY" frameborder="0"></iframe>
                                    </div>
                                    <div class="video-group rounded mb-5 text-left">
                                        <h5 class="text-left">Binary Arithmetic</h5>
                                        <iframe class="video-iframe" type="text/html" src="https://www.youtube.com/embed/btH8g8J5sGo" frameborder="0"></iframe>
                                    </div>
                                    <div class="video-group rounded mb-5 text-left">
                                        <h5 class="text-left">Little Man Computer: Hello, World!</h5>
                                        <iframe class="video-iframe" type="text/html" src="https://www.youtube.com/embed/QneVgKf2eVg" frameborder="0"></iframe>
                                    </div>
                                    <div class="video-group rounded mb-5 text-left">
                                        <h5 class="text-left">Transistors and Gates: Building Blocks of a CPU</h5>
                                        <iframe class="video-iframe" type="text/html" src="https://www.youtube.com/embed/NJoKYETiwmE" frameborder="0"></iframe>
                                    </div>
                                    <div class="video-group rounded mb-5 text-left">
                                        <h5 class="text-left">Creating an ALU</h5>
                                        <iframe class="video-iframe" type="text/html" src="https://www.youtube.com/embed/pSmc6CD9u88" frameborder="0"></iframe>
                                    </div>
                                    <div class="video-group rounded mb-5 text-left">
                                        <h5 class="text-left">CISC vs. RISC Architectures</h5>
                                        <iframe class="video-iframe" type="text/html" src="https://www.youtube.com/embed/7oRs6-AzNmo" frameborder="0"></iframe>
                                    </div>
                                    <div class="video-group rounded mb-5 text-left">
                                        <h5 class="text-left">Cache Memory</h5>
                                        <iframe class="video-iframe" type="text/html" src="https://www.youtube.com/embed/qPfx1alBXqo" frameborder="0"></iframe>
                                    </div>
                                    <button class="btn btn-primary" data-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 6-->
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label">Databases</h2>
                                    <br /><a class="mb-5" href="https://www.youtube.com/channel/UC8fdekVhEilBTuBK322WjVw?sub_confirmation=1">
                                        <img class="nuge-forward yt-sub-sm" src="/assets/img/yt-subscribe.png" class="img-fluid" />
                                    </a>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-database"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <a href="https://youtube.com/playlist?list=PL0_aoTs5sGaT_Wt2rVDcnADcHphvI40Co">
                                        <img class="img-fluid rounded mb-5" src="/assets/img/video_thumbnails/database.jpg" alt="" />
                                    </a>
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-5 text-left">A study of the issues related to the design and administration of modern database systems, with special emphasis on relational database systems. This course will study data modeling, query languages, schema refinement and tuning of existing databases, physical implementation of databases, and systems issues in the management of data, Object Relational Mapping, distributed and NoSQL databases.</p>
                                    <p class="mb-5 text-left">There will be a particular emphasis in this class on database integration within applications.  For this aspect of the course we will be using the Java programming language.  We will discuss Object Relational Mapping (ORM) in detail, and even create our own ORM tools!  </p>
                                    <h3>Episodes:</h3>
                                    <p class="mb-5 text-left">Here are some highlighted episodes, click on the playlist at the top to find the complete list</p>
                                    <div class="video-group rounded mb-5 text-left">
                                        <h5 class="text-left">Introduction to Database Management Systems</h5>
                                        <iframe class="video-iframe" type="text/html" src="https://www.youtube.com/embed/WVi8hViPHd0" frameborder="0"></iframe>
                                    </div>
                                    <div class="video-group rounded mb-5 text-left">
                                        <h5 class="text-left">Relational Model</h5>
                                        <iframe class="video-iframe" type="text/html" src="https://www.youtube.com/embed/PqUUIlIcHoI" frameborder="0"></iframe>
                                    </div>
                                    <div class="video-group rounded mb-5 text-left">
                                        <h5 class="text-left">Algebraic Query Language</h5>
                                        <iframe class="video-iframe" type="text/html" src="https://www.youtube.com/embed/OFfLH2b2zBY" frameborder="0"></iframe>
                                    </div>
                                    <div class="video-group rounded mb-5 text-left">
                                        <h5 class="text-left">Normalization: Step by Step</h5>
                                        <iframe class="video-iframe" type="text/html" src="https://www.youtube.com/embed/rDXuZhfTA4U" frameborder="0"></iframe>
                                    </div>
                                    <div class="video-group rounded mb-5 text-left">
                                        <h5 class="text-left">3rd Normal Form: Step by Step</h5>
                                        <iframe class="video-iframe" type="text/html" src="https://www.youtube.com/embed/J6pgnFm_cvc" frameborder="0"></iframe>
                                    </div>
                                    <div class="video-group rounded mb-5 text-left">
                                        <h5 class="text-left">Introduction to SQL</h5>
                                        <iframe class="video-iframe" type="text/html" src="https://www.youtube.com/embed/S-luTBPU4os" frameborder="0"></iframe>
                                    </div>
                                    <div class="video-group rounded mb-5 text-left">
                                        <h5 class="text-left">What is ORM (Object Relational Mapping)?</h5>
                                        <iframe class="video-iframe" type="text/html" src="https://www.youtube.com/embed/W3nKP-X8B04" frameborder="0"></iframe>
                                    </div>
                                    <button class="btn btn-primary" data-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('./partials/jsincludes'); %>
    </body>
</html>
