<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head'); %>

        <!-- special meta tag for the login page-->
        <meta name="google-signin-client_id" content="328875261192-odgaujp0hr7beav0int9nk72mafqcl7l.apps.googleusercontent.com">

    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg text-uppercase fixed-top" id="mainNav">
            <%- include('./partials/nomenu'); %>
        </nav>


        <!-- About Section-->
        <content>
            <section class="page-section main-content mt-3 masthead-jr" id="signin">
            

                <div class="text-left mt-4">
                    <div id="story1" class="row justify-content-left">
                        <div class="col-lg-7">
                            <% if(!!locals.message){ %>
                                <div class="alert-message alert-message-success" role="alert">
                                    <h3 ><%= message %></h3>
                                    <p><%= (!!locals.message2)?message2:'' %></p>
                                </div>
                                
                            <% } %>
                            <% if(!!locals.passwordMessage){ %>
                                <div class="alert-message alert-message-warning" role="alert">
                                    <h3 ><%= passwordMessage %></h3>
                                    <p>Remember passwords are case sensitive.<br />Forgot your password? <a href='/forgotPass'>Reset Password</a></p>
                                </div>
                                <h3 ><%= passwordMessage %></h3>
                            <% } %>
                            
                            <h2>Sign In</h2>
                            <% 
                            if( process.env.GOOGLE_AUTHENTICATION === 'true' ) {
                                %>
                                <div id="g_id_onload"
                                    data-client_id="<%= process.env.GOOGLE_CLIENT_ID %>"
                                    data-context="signin"
                                    data-ux_mode="popup"
                                    data-login_uri="/google-auth"
                                    data-nonce=""
                                    data-auto_prompt="false">
                                </div>

                                <div class="g_id_signin"
                                    data-type="standard"
                                    data-shape="pill"
                                    data-theme="filled_black"
                                    data-text="signin_with"
                                    data-size="large"
                                    data-logo_alignment="left">
                                </div>

                                <p>Or Enter your email and password</p>
                                <%
                            }
                            %>
                            

                            
                            <section>
                                <% if(locals.redirect) { %>
                                <form action="/signIn?redirect=<%- locals.redirect %>" method="POST">
                                <% } else { %>
                                <form action="/signIn" data-onsuccess="onSignIn" method="POST">
                                <% } %>
                                    <div class="form-group">

                                        <input type="email" class="form-control form-control-lg" name="signInEmail" id="signInEmail" aria-describedby="emailHelp" placeholder="Enter email" required>
                                        <input type="password" class="form-control form-control-lg" id="siPassword" name="siPassword" placeholder="Password" title="Enter Password" required>
                                        
                                    </div>
                                    <button type="submit" id="userManageButton" class="btn btn-primary btn-lg btn-block">Sign In</button>
                                    <br />
                                    
                                </form>
                                <br />
                            </section>

                        </div>
                        <div class="col-lg-5">
                            <div class="divider-custom">
                                <div class="divider-custom-line divider-bg-color"></div>
                                <div class="divider-custom-icon"><i class="fas fa-user-secret divider-color"></i></div>
                                <div class="divider-custom-line divider-bg-color"></div>
                            </div>
                            <h4>New User?</h4>
                            <h5><a href='/dashboard'>Create Account</a></h5>
                            <h4>Forgotten Password?</h4>
                            <h5><a href='/forgotPass'>Reset Password</a></h5>
                        </div>
                    </div>
                </div>
                    

            </section>
        </content>
        
        

        <!-- Footer-->
        <%- include('./partials/footer'); %>
        <!-- Copyright Section-->
        <%- include('./partials/copyright'); %>
        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
        <div class="scroll-to-top d-lg-none position-fixed">
            <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a>
        </div>

        <!-- special include for the sign-in page -->
        <script src="https://accounts.google.com/gsi/client" async defer></script>

        <%- include('./partials/jsincludes'); %>
    </body>
</html>