<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head'); %>
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg text-uppercase fixed-top" id="mainNav">
            <%- include('./partials/nomenu'); %>
        </nav>


        <!-- About Section-->
        <content>
            <section class="page-section main-content mt-3 masthead-jr" id="signin">
            
                <div class="container">
                    
                    <div class="text-left mt-4">
                        <div id="story1" class="row justify-content-left">
                            <div class="col-lg-7">
                                <% if(!!locals.message){ %>
                                    <div class="alert-message alert-message-success" role="alert">
                                        <h3 ><%= message %></h3>
                                        <p>Password reset link sent to your email address. Click on the link in the email to complete the process.</p>
                                    </div>
                                    
                                <% } %>
                                
                                
                                <h2>Password Reset</h2>
                                <p>Enter your email and password</p>
                                <section>
                                    <form action="/newPass" method="POST">
                                        <div class="form-group">
                                            <input type="hidden" name="pwResetEmail" value="<%= (!!locals.email)?email:'' %>" />
                                            <input type="hidden" name="pwResetToken" value="<%= (!!locals.token)?token:'' %>" />
                                            <input type="password" class="form-control form-control-lg" id="psw" name="psw" placeholder="Password" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="passwordToggle">
                                                <label class="custom-control-label" for="passwordToggle">Show Password</label>
                                            </div>
                                            <div id="passwordRequirementsMessage" class="alert-message alert-message-success">
                                                <h3>Password must contain the following:</h3>
                                                <span id="letter" class="invalid">A <b>lowercase</b> letter</span><br />
                                                <span id="capital" class="invalid">A <b>capital (uppercase)</b> letter</span><br />
                                                <span id="special" class="invalid">A <b>special character</b> ($@$!%*#?&)</span><br />
                                                <span id="number" class="invalid">A <b>number</b></span><br />
                                                <span id="length" class="invalid">Minimum <b>8 characters</b></span>
                                            </div>
                                            
                                        </div>
                                        <button type="submit" id="userManageButton" class="btn btn-primary btn-lg btn-block">Set New Password</button>
                                        <br />
                                        
                                    </form>
                                    <br />
                                </section>
    
                            </div>
                            <div class="col-lg-5">
                                <div class="divider-custom">
                                    <div class="divider-custom-line divider-bg-color"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-user-secret divider-color"></i></div>
                                    <div class="divider-custom-line divider-bg-color"></div>
                                </div>
                                <h4>New User?</h4>
                                <h5><a href='/user'>Create Account</a></h5>
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
            </section>
        </content>
        
        <!-- Footer-->
        <%- include('./partials/footer'); %>
        <!-- Copyright Section-->
        <%- include('./partials/copyright'); %>
        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
        <div class="scroll-to-top d-lg-none position-fixed">
            <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a>
        </div>
        <%- include('./partials/jsincludes'); %>
    </body>
</html>