<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>

    <!-- special meta tag for the login page-->
    <meta name="google-signin-client_id" content="328875261192-odgaujp0hr7beav0int9nk72mafqcl7l.apps.googleusercontent.com">
</head>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
        <%- include('./partials/topmenu'); %>
    </nav>

    <!-- include the modals for the privacy policy and terms of service -->
    <%- include('./website/privacy-modal'); %>
    <%- include('./website/terms-modal'); %>


    <!-- Page Content -->
    <content>
        <section class="page-section main-content mt-3 masthead-jr-top" id="about">
            <%- include('./partials/welcome'); %>
                <div class="container">
    
                    <!-- About Section Heading-->
                    <div class="divider-custom">
                        <div class="divider-custom-line divider-bg-color"></div>
                        <div class="divider-custom-icon"><i class="fas fa-school divider-color"></i></div>
                        <div class="divider-custom-line divider-bg-color"></div>
                    </div>
    
                    <!-- About Section Content-->
                    <!--
                    <div class="row">
                        <div class="col-lg-4 ml-auto"><p class="lead">About the site</p></div>
                        <div class="col-lg-4 mr-auto"><p class="lead">About me</p></div>
                    </div>
                    -->
                    <!-- About Section Button-->
                    <div class="text-left mt-4">
                        <div id="story1" class="row justify-content-left">
                            <div class="col-lg-5">
                                <p>Have an account?&nbsp;&nbsp; <a class="text-primary text-uppercase tag-line-you"
                                        href="/signIn?redirect=<%- locals.currentUrl %>">SIGN IN</a> </p>
                                <h2>Join Agora!</h2>
                                <h5>A forever free environment where you can learn, research, and keep all your notes for
                                    life! Your data will never be sold or shared!</h5>
                                <%
                                if( process.env.GOOGLE_AUTHENTICATION === 'true' ) {
                                    %>
                                    <p>Join with your Google account</p>
                                    <div id="g_id_onload"
                                        data-client_id="<%= process.env.GOOGLE_CLIENT_ID %>"
                                        data-context="signup"
                                        data-ux_mode="popup"
                                        data-login_uri="/user/google"
                                        data-nonce=""
                                        data-auto_prompt="false">
                                    </div>

                                    <div class="g_id_signin"
                                        data-type="standard"
                                        data-shape="pill"
                                        data-theme="filled_black"
                                        data-text="signup_with"
                                        data-size="large"
                                        data-logo_alignment="left"
                                        data-width="300">
                                    </div>
                                    <%
                                }
                                %>
                                
                                <img src="/assets/img/logos/agora-logo-2023-800.png" class="website-image website-image-95"
                                    style="height:70%" />
                                <p></p>
                            </div>
                            <div class="col-lg-7">
                                <!--<img src="/assets/img/henry-ix-trans-circle-800x800.png" class="img-fluid" /> -->
    
                                <section>
    
                                    <% if(locals.redirect) { %>
                                        <form action="/user?redirect=<%- locals.redirect %>" method="POST">
                                    <% } else { %>
                                        <form action="/user" method="POST">
                                    <% } %>
                                    <% if(!!locals.error_message){ %>
                                        <div class="alert-message alert-message-notice" role="alert">
                                            <h3>
                                                <%= error_message %>
                                            </h3>
                                        </div>
    
                                    <% } %>
    
                                    <div class="form-group">
                                        <h5>To get started we need your email and name</h5>
                                        <small id="emailHelp" class="form-text text-muted">We'll never share your information with anyone else.</small>
                                        <input type="email" class="form-control form-control-lg" name="userEmail" id="userEmail" aria-describedby="emailHelp" placeholder="Enter email" required>
                                        <small id="usernameHelp" class="form-text text-muted">Username must be unique</small>
                                        <input type="input" class="form-control form-control-lg" name="userUsername" id="userUsername" aria-describedby="usernameHelp" placeholder="Enter Username" required>

                                        <input type="input" class="form-control form-control-lg" name="firstName" id="firstName" placeholder="First Name" required>
                                        <input type="input" class="form-control form-control-lg" name="lastName" id="lastName" placeholder="Last Name" required>

                                        <input type="password" class="form-control form-control-lg" id="psw" name="psw" placeholder="Password"
                                            pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$"
                                            title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="passwordToggle">
                                            <label class="custom-control-label" for="passwordToggle">Show Password</label>
                                        </div>
                                        <div id="passwordRequirementsMessage" class="alert-message alert-message-success">
                                            <h3>Password must contain the following:</h3>
                                            <span id="letter" class="invalid">A <b>lowercase</b> letter</span><br />
                                            <span id="capital" class="invalid">A <b>capital (uppercase)</b> letter</span><br />
                                            <span id="special" class="invalid">A <b>special character</b> ($@$!%*#?&)</span><br />
                                            <span id="number" class="invalid">A <b>number</b></span><br />
                                            <span id="length" class="invalid">Minimum <b>8 characters</b></span>
                                        </div>
                                        <br />
                                        <h5>Letting us know which topics your are most interested in helps us find related research and
                                            collaborators that might be of interest to you (optional)</h5>
                                        <p>TODO:Tags Tag selection will go here</p> 
                                        <p>Please read our 
                                        
                                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#termsModal">
                                            Terms of Service
                                        </button>
                                        
                                        and 
                                        
                                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#privacyModal">
                                            Privacy Policy
                                        </button>
                                        </p>
                                        <h4>You are agreeing to them by joining!</h4>
                                        <button type="submit" id="userButton" class="btn btn-primary btn-lg btn-block" disabled>Join the Agora Community!</button>
                                        <br />
    
                                    </form>
                                    <br />
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
        </section>

    </content>
    

    <!-- Footer-->
    <%- include('./partials/footer'); %>
    <!-- Copyright Section-->
    <%- include('./partials/copyright'); %>
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
    <div class="scroll-to-top d-lg-none position-fixed">
        <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i
                class="fa fa-chevron-up"></i></a>
    </div>

    <!-- special include for the sign-in page -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>

    <%- include('./partials/jsincludes'); %>

</body>

</html>