<!-- Friend Notification Box-->
<div class="alert alert-info mt-3">
    <h3>Friend Requests</h3>
    <p>You have <span id="friendRequestCount"><%= nonFriends.length > 0 ? nonFriends.length : 0 %></span> new friend requests.</p>
    <button id="viewFriendRequests" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#friendRequestsModal">View Requests</button>
</div>

<!-- Friend Requests Modal -->
<div class="modal fade" id="friendRequestsModal" tabindex="-1" role="dialog" aria-labelledby="friendRequestsModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="friendRequestsModalTitle">Friend Requests</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="max-height: 400px; overflow-y: auto;">
                <!-- Loop through friend requests and generate items if nonFriends is not empty -->
                <% if (nonFriends && nonFriends.length > 0) { %>
                    <% nonFriends.forEach((friend) => { %>
                        <div class="friend-request-item">
                            <div class="requester-info">
                                <span><strong><%= friend.friend_username %> (<%= friend.friend_first_name %> <%= friend.friend_last_name %>)</strong> sent you a friend request.</span>
                            </div>
                            <div class="action-buttons">
                                <button id="btn-accept-request" class="btn btn-success accept-friend-request" data-id="<%= friend.friendship_id %>">Accept</button>
                                <button id="btn-deny-request" class="btn btn-danger deny-friend-request" data-id="<%= friend.friendship_id %>">Deny</button>
                            </div>
                        </div>
                    <% }); %>
                <% } else { %>
                    <p>No friend requests at this time.</p>
                <% } %>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>